<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>搜索简历</title>

    <link rel="stylesheet" th:href="@{/assets/layui/css/layui.css}">

    <link rel="stylesheet" th:href="@{/assets/css/adminLogin/admin.css}">

    <link rel="stylesheet" th:href="@{/assets/index/css/ico.1539594650.css}">

    <link rel="stylesheet" th:href="@{/assets/index/css/index.1555395693.css}">

    <link rel="stylesheet" th:href="@{/assets/index/css/jzcglobal.1542282856.css}">

    <link rel="stylesheet" th:href="@{/assets/index/css/jzpop.1555579771.css}">
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item layadmin-flexible" lay-unselect>
                <a th:href="@{/index}" layadmin-event="flexible" title="logo" target="_blank">
                    兼职网
                </a>
            </li>

            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a th:href="@{/manager/index}" title="首页">
                    首页
                </a>
            </li>
            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a th:href="@{/manager/BBS/index}" target="_blank" title="首页">
                    BBS论坛
                </a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a th:href="@{/manager/index}">职位管理</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/manager/publish}">发布职位</a></dd>
                    <dd><a th:href="@{/manager/search}">搜索职位</a></dd>
                    <dd><a th:href="@{/manager/allJobs}">发布的职位</a></dd>
                    <dd><a th:href="@{/manager/employ}">录用的员工</a></dd>
                    <dd><a th:href="@{/manager/evaluate}">给予的评价</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a th:href="@{/manager/BBS/index}">论坛管理</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/manager/BBS/publish}">发布帖子</a></dd>
                    <dd><a th:href="@{/manager/BBS/editor}">管理帖子</a></dd>
                    <dd><a th:href="@{/manager/BBS/search}">搜索帖子</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" lay-unselect>
                <a href="javascript:;">
                    [[${session.manager.userName}]]
                </a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/manager/informationEditor}">资料管理</a></dd>
                    <dd><a th:href="@{/manager/editor}">修改密码</a></dd>
                    <dd><a th:href="@{/manager/exit}">退出</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-show-xs-inline-block " lay-unselect>
                <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/manager/publish}">发布职位</a></dd>
                    <dd><a th:href="@{/manager/search}">搜索职位</a></dd>
                    <dd><a th:href="@{/manager/search/worker}">搜索简历</a></dd>
                    <dd><a th:href="@{/manager/allJobs}">发布的职位</a></dd>
                    <dd><a th:href="@{/manager/employ}">录用的员工</a></dd>
                    <dd><a th:href="@{/manager/evaluate}">给予的评价</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md2">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div style="text-align: center;">
                        <img th:src="${session.manager.headPhoto}" id="headPhoto"
                             style="width:150px; height:150px; border-radius:50%; ">
                    </div>
                    <br>
                    <div style="text-align: center;">
                        <h2> [[${session.manager.name}]]</h2>
                    </div>
                    <hr>
                    <div style="padding-top: 5px;text-align: center">
                        <a th:href="@{/manager/publish}">
                            发布兼职
                        </a>
                    </div>
                    <hr>
                    <div style="padding-top: 5px;text-align: center">
                        <a th:href="@{/manager/informationEditor}">
                            资料管理
                        </a>
                    </div>
                    <div style="text-align: center">
                        <a th:href="@{/manager/editor/headPhoto}">
                            修改头像
                        </a>
                    </div>
                    <div style="text-align: center">
                        <a th:href="@{/manager/editor}">
                            安全设置
                        </a>
                    </div>
                    <hr>
                    <div style="padding-top: 5px;text-align: center">
                        <a th:href="@{/manager/search/worker}">
                            搜索简历
                        </a>
                    </div>
                    <div style="text-align: center">
                        <a th:href="@{/manager/collect}">
                            收藏的简历
                        </a>
                    </div>
                    <hr>
                    <div style="padding-top: 5px;text-align: center">
                        <a th:href="@{/manager/search}">
                            搜索职位
                        </a>
                    </div>
                    <div style="text-align: center">
                        <a th:href="@{/manager/allJobs}">
                            发布的职位
                        </a>
                    </div>
                    <hr>
                    <div style="padding-top: 5px;text-align: center">
                        <a th:href="@{/manager/employ}">
                            录用的员工
                        </a>
                    </div>
                    <div style="text-align: center">
                        <a th:href="@{/manager/evaluate}">
                            给予的评价
                        </a>
                    </div>
                    <div style="text-align: center">
                        <a th:href="@{/manager/evaluated}">
                            收到的评价
                        </a>
                    </div>
                    <div style="text-align: center">
                        <a th:href="@{/manager/message}">
                            收到的留言
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md10">
            <div class="layui-card">
                <div class="layui-card-header">搜索简历</div>
                <div class="layui-card-body">
                    <div class="demoTable">
                        <div class="layui-inline">
                            <input class="layui-input" id="content" autocomplete="off" placeholder="输入你想要的简历">
                        </div>
                        <button class="layui-btn" id="search" type="button">搜索</button>
                    </div>
                    <br>
                    <table class="layui-hide" id="demo" lay-filter="test" lay-skin="line"></table>
                    <script type="text/html" id="action">
                        <div class="layui-btn-container">
                            <button class="layui-btn layui-btn-sm" lay-event="pass">查看</button>
                        </div>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-seo">
    <div class="w">
        <div class="item friend-link">
            <div class="links">
                <h3>热门城市：</h3>
                <a>北京招聘</a>
                <a>上海招聘</a>
                <a>广州招聘</a>
                <a>深圳招聘</a>
                <a>石家庄招聘</a>
                <a>郑州招聘</a>
                <a>济南招聘</a>
                <a>青岛招聘</a>
                <a>合肥招聘</a>
                <a>太原招聘</a>
                <a>西安招聘</a>
                <a>武汉招聘</a>
            </div>
            <a class="btn_arrow" href="#"></a>
        </div>
        <div class="item friend-link">
            <div class="links">
                <h3>热门职位：</h3>
                <a> 搬运工招聘</a>
                <a> 仓库管理员招聘</a>
                <a> 客服经理招聘</a>
                <a> 在线客服招聘</a>
                <a> 销售支持招聘</a>
                <a> 销售经理招聘</a>
                <a> 网络销售招聘</a>
                <a> 电话销售招聘</a>
            </div>
            <a class="btn_arrow" href="#"></a>
        </div>
        <div class="item friend-link">
            <div class="links">
                <h3>手机版：</h3>
                <a> 找工作</a>
            </div>
        </div>
        <div class="item friend-link">
            <div class="links">
                <h3>友情链接：</h3>
                <a href="https://www.gliet.edu.cn/">桂林电子科技大学</a>
                <a href="http://www.doumi.com/">斗米网</a>
                <a href="https://gl.58.com/">58同城</a>
            </div>
            <a class="btn_arrow" href="#"></a>
        </div>
    </div>
</div>
<div class="footer">
    <div class="content">
        <div class="w">
            <div class="hotline">
                <span class="title">传真</span>
                <span class="phone">0773-2290083</span>
                <span class="title">邮编</span>
                <span class="email">541004</span>
            </div>
            <ul class="nav">
                <li>
                    关于我们
                    <ul class="sub-nav">
                        <li><a>公司简介</a></li>
                        <li><a>公司历程</a></li>
                        <li><a>加入我们</a></li>
                        <li><a>联系我们</a></li>
                        <li><a>渠道招商</a></li>
                    </ul>
                </li>
                <li>招聘资讯
                    <ul class="sub-nav">
                        <li><a>招聘新闻</a></li>
                        <li><a>工作技巧</a></li>
                    </ul>
                </li>
                <li>帮助中心
                    <ul class="sub-nav">
                        <li><a>有偿服务</a></li>
                    </ul>
                </li>
                <li><a>网站地图</a></li>
            </ul>
        </div>
    </div>
    <p class="copyright">&copy;2018-2019 桂电兼职招聘网 地址：中国广西桂林金鸡路1号 邮编：541004　传真：0773-2290083 </p>
    <p class="copyright">桂ICP备05000961号 桂公网安备45030502000232号</p>
</div>
<script th:src="@{/assets/js/jquery.js}"></script>
<script th:src="@{/assets/layui/layui.all.js}"></script>
<script th:inline="none">
    layui.use(['table'], function () {
        var table = layui.table;
        //第一个实例
        var tableIns = table.render({
            elem: '#demo'
            , url: '/manager/workers/information/data' //数据接口
            , page: true //开启分页
            , skin: 'line'
            , size: 'lg'
            , limits: [10, 20, 50, 100]  //每页条数的选择项，默认：[10,20,30,40,50,60,70,80,90]。
            , limit: 10 //每页默认显示的数量
            , cols: [[ //表头
                {field: 'name', title: '名字'}
                , {
                    field: 'sex', title: '性别', templet: function (d) {
                        return d.sex == '0' ? "女" : "男";
                    }
                }
                , {field: 'age', title: '年龄'}
                , {field: 'phoneNumber', title: '电话号码'}
                , {field: 'email', title: '邮箱'}
                , {field: 'educationBackground', title: '年级'}
                , {fixed: 'right', title: '操作', align: 'center', toolbar: '#action'}
            ]]
        });
        table.on('tool(test)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            if (layEvent === 'pass') { //通过
                location.href = "/manager/workerInformation/" + data.workerId;
            }
        });
        $(function () {
            $("#search").click(function () {
                var content = $('#content').val();
                tableIns.reload({
                    where: { //设定异步数据接口的额外参数，任意设
                        content: content
                        //…
                    }
                    , page: {
                        curr: 1 //重新从第 1 页开始
                    }
                });
            })
        });
    });
    $(function () {
        $("#headPhoto").click(function () {
            location.href = "/manager/editor/headPhoto";
        })
    })
</script>
<script>
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#test1'
            , width: '1140px' //设置容器宽度
            , height: '460px'
            , arrow: 'always' //始终显示箭头
        });
        var util = layui.util;
        //执行
        util.fixbar({
            bar1: true
            , click: function (type) {
                if (type === 'bar1') {
                    layer.msg("欢迎来到桂电兼职网！")
                }
            }
        });
    });
</script>
</body>
</html>