<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>搜索职位</title>

    <link rel="stylesheet" href="/static/assets/layui/css/layui.css"
          th:href="@{/assets/layui/css/layui.css}">
    <link rel="stylesheet" href="../frame/static/css/style.css"
          th:href="@{/assets/css/adminLogin/template.css}">

</head>

<body style="background-color: #F2F2F2;">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">layui 后台布局</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><a href="">欢迎兼职者</a></li>
            <li class="layui-nav-item">

                <a href="javascript:;">

                    [[${session.userName}]]
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>
    </div>
</div>
<div style="padding: 20px; background-color: #F2F2F2;">
    <div class="layui-container">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-header">欢迎您</div>
                    <div class="layui-card-body">
                        [[${session.userName}]]
                    </div>
                </div>
                <div class="layui-card">
                    <div class="layui-card-body">
                        <a class="layui-btn  " th:href="@{/manager/publish}">
                            <i class="layui-icon layui-icon-edit"></i>发布兼职
                        </a>
                        <hr>
                        <a class="layui-btn " th:href="@{/manager/editor}">
                            <i class="layui-icon layui-icon-set"></i>安全设置
                        </a>
                        <hr>
                        <a class="layui-btn " th:href="@{/manager/search}">
                            <i class="layui-icon layui-icon-search"></i>搜索职位
                        </a>
                        <hr>
                        <a class="layui-btn " th:href="@{/manager/allJob}">
                            <i class="layui-icon layui-icon-search"></i>我发布的职位
                        </a>
                    </div>
                </div>
            </div>

            <div class="layui-col-md9">
                <div class="layui-card">
                    <div class="layui-card-header">搜索职位</div>
                    <div class="layui-card-body">
                        <div class="demoTable">
                            <div class="layui-inline">
                                <input class="layui-input" id="content" autocomplete="off" placeholder="输入你想要的职位">
                            </div>
                            <button class="layui-btn" id="search" type="button">搜索</button>
                        </div>
                        <table class="layui-hide" id="demo" lay-filter="test" lay-skin="line"></table>
                        <script type="text/html" id="action">
                            <div class="layui-btn-container">
                                <button class="layui-btn layui-btn-sm" lay-event="pass">查看</button>
                            </div>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/assets/js/jquery.js}"></script>
<script th:src="@{/assets/layui/layui.all.js}"></script>
<script th:inline="none">


    layui.use(['table'], function () {
        var table = layui.table;
        //第一个实例
        var tableIns = table.render({
            elem: '#demo'
            , url: '/worker/search/allJobs' //数据接口
            , page: true //开启分页
            , skin: 'line'
            , size: 'lg'
            , limits: [10, 20, 50, 100]  //每页条数的选择项，默认：[10,20,30,40,50,60,70,80,90]。
            , limit: 10 //每页默认显示的数量
            , cols: [[ //表头
                {field: 'title', title: '信息', width: '40%'}
                , {field: 'lowPay', title: '最低工资'}
                , {field: 'hightPay', title: '最高工资'}
                , {field: 'date', title: '发布时间', sort: true, width: '20%'}
                , {fixed: 'right', title: '操作', toolbar: '#action', width: '10%'}
                // , {
                //     field: 'audit', title: '是否收藏', templet: function (d) {
                //         return d.audit == '0' ? "<span class='layui-red'>未审核</span>" : "审核";
                //     }
                // }
                // , {
                //     field: 'audit', title: '是否投递', templet: function (d) {
                //         return d.audit == '0' ? "<span class='layui-red'>未审核</span>" : "审核";
                //     }
                // }
            ]]
        });

        table.on('tool(test)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            if (layEvent === 'pass') { //通过
                location.href = "/worker/job/" + data.id;
            }
        });
        $(function () {
            $("#search").click(function () {
                var content = $('#content').val();
                tableIns.reload({
                    where: { //设定异步数据接口的额外参数，任意设
                        content: content
                        //…
                    }
                    , page: {
                        curr: 1 //重新从第 1 页开始
                    }
                });
            })
        });
    });
</script>
</body>
</html>