<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>招聘者页面</title>

    <link rel="stylesheet" href="/static/assets/layui/css/layui.css"
          th:href="@{/assets/layui/css/layui.css}">

    <link rel="stylesheet" href="../frame/static/css/style.css"
          th:href="@{/assets/css/adminLogin/template.css}">
</head>

<body style="background-color: #F2F2F2;">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">layui 后台布局</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><a href="">欢迎招聘者</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    [[${session.userName}]]
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>
    </div>
    <div style="padding: 20px; background-color: #F2F2F2;">
        <div class="layui-container">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-header">欢迎您</div>
                        <div class="layui-card-body">
                            [[${session.userName}]]
                        </div>
                    </div>
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <a class="layui-btn  " th:href="@{/manager/publish}">
                                <i class="layui-icon layui-icon-edit"></i>发布兼职
                            </a>
                            <hr>
                            <a class="layui-btn " th:href="@{/manager/editor}">
                                <i class="layui-icon layui-icon-set"></i>安全设置
                            </a>
                            <hr>
                            <a class="layui-btn " th:href="@{/manager/search}">
                                <i class="layui-icon layui-icon-search"></i>搜索职位
                            </a>
                            <hr>
                            <a class="layui-btn " th:href="@{/manager/allJob}">
                                <i class="layui-icon layui-icon-search"></i>我发布的职位
                            </a>
                            <hr>
                            <a class="layui-btn " th:href="@{/manager/employ}">
                                <i class="layui-icon layui-icon-search"></i>我录用的员工
                            </a>
                        </div>
                    </div>
                </div>

                <div class="layui-col-md9">
                    <div class="layui-card">
                        <div class="layui-card-header">用户信息</div>
                        <div class="layui-card-body">
                            姓名：[[${worker.name}]]
                            <br>
                            年龄：[[${worker.age}]]<br>
                            邮箱：[[${worker.email}]]<br>
                            电话号码：[[${worker.phoneNumber}]]<br>
                            性别：
                            <text th:if="${worker.sex}==0">男</text>
                            <text th:if="${worker.sex}==1">女</text>
                            <br>
                            教育背景：
                            <text th:if="${worker.educationBackground}==1">小学</text>
                            <text th:if="${worker.educationBackground}==2">初中</text>
                            <text th:if="${worker.educationBackground}==3">高中</text>
                            <text th:if="${worker.educationBackground}==4">中专</text>
                            <text th:if="${worker.educationBackground}==5">大专</text>
                            <text th:if="${worker.educationBackground}==6">本科</text>
                            <text th:if="${worker.educationBackground}==7">研究生</text>
                            <br>
                            期望薪资：[[${worker.expectation}]]<br>
                            自我介绍：[[${worker.introduce}]]<br>
                            意向职位：[[${worker.jobIntension}]]<br>
                            工作时间：[[${worker.workerTime}]]<br>
                            工作经历：[[${worker.workerExperience}]]
                            <hr>
                            <button class="layui-btn  layui-btn-radius" id="evaluate" type="button">给予评价</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/assets/js/jquery.js}"></script>
<script th:src="@{/assets/layui/layui.all.js}"></script>
<script>
    // $(function () {
    //     $('#evaluate').click(function () {
    //         layer.confirm('是否安排该名职工面试时间', function (index) {
    //             $.ajax({
    //                 url: '/employ/' + [[${worker.workerId}]],
    //                 method: "post",
    //                 dataType: "text",
    //                 success: function (msg) {
    //                     layer.msg(msg);
    //                     // //清除表单内容
    //                 },
    //                 error: function () {
    //                     layer.msg("网络错误，通过失败");
    //                 }
    //             });
    //         });
    //     })
    // })
</script>
</body>
</html>