<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>招聘者页面</title>
    <link rel="stylesheet" th:href="@{/assets/layui/css/layui.css}">

    <link rel="stylesheet" th:href="@{/assets/css/adminLogin/admin.css}">
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item layadmin-flexible" lay-unselect>
                <a th:href="@{/index}" layadmin-event="flexible" title="logo" target="_blank">
                    兼职网
                </a>
            </li>

            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a th:href="@{/manager/index}" title="首页">
                    首页
                </a>
            </li>
            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a th:href="@{/manager/BBS/index}" title="首页">
                    BBS论坛
                </a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a th:href="@{/manager/index}">职位管理</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/manager/publish}">发布职位</a></dd>
                    <dd><a th:href="@{/manager/search}">搜索职位</a></dd>
                    <dd><a th:href="@{/manager/allJobs}">发布的职位</a></dd>
                    <dd><a th:href="@{/manager/employ}">录用的员工</a></dd>
                    <dd><a th:href="@{/manager/evaluate}">给予的评价</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a th:href="@{/manager/BBS/index}">论坛管理</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/manager/BBS/publish}">发布帖子</a></dd>
                    <dd><a th:href="@{/manager/BBS/editor}">管理帖子</a></dd>
                    <dd><a th:href="@{/manager/BBS/search}">搜索帖子</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" lay-unselect>
                <a href="javascript:;">
                    [[${session.manager.userName}]]
                </a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/manager/informationEditor}">资料管理</a></dd>
                    <dd><a th:href="@{/manager/editor}">修改密码</a></dd>
                    <dd><a th:href="@{/manager/exit}">退出</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-show-xs-inline-block " lay-unselect>
                <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/manager/publish}">发布职位</a></dd>
                    <dd><a th:href="@{/manager/search}">搜索职位</a></dd>
                    <dd><a th:href="@{/manager/search/worker}">搜索简历</a></dd>
                    <dd><a th:href="@{/manager/allJobs}">发布的职位</a></dd>
                    <dd><a th:href="@{/manager/employ}">录用的员工</a></dd>
                    <dd><a th:href="@{/manager/evaluate}">给予的评价</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md2">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div style="text-align: center;">
                        <img th:src="@{/assets/picture/head.png}">
                    </div>
                    <br>
                    <div style="text-align: center;">
                        <h2> [[${session.manager.name}]]</h2>
                    </div>
                    <hr>
                    <div style="padding-top: 5px;text-align: center">
                        <a th:href="@{/manager/publish}">
                            发布兼职
                        </a>
                    </div>
                    <hr>
                    <div style="padding-top: 5px;text-align: center">
                        <a th:href="@{/manager/informationEditor}">
                            资料管理
                        </a>
                    </div>
                    <div style="text-align: center">
                        <a th:href="@{/manager/editor}">
                            安全设置
                        </a>
                    </div>
                    <hr>
                    <div style="padding-top: 5px;text-align: center">
                        <a th:href="@{/manager/search/worker}">
                            搜索简历
                        </a>
                    </div>
                    <div style="text-align: center">
                        <a th:href="@{/manager/collect}">
                            收藏的简历
                        </a>
                    </div>
                    <hr>
                    <div style="padding-top: 5px;text-align: center">
                        <a th:href="@{/manager/search}">
                            搜索职位
                        </a>
                    </div>
                    <div style="text-align: center">
                        <a th:href="@{/manager/allJobs}">
                            发布的职位
                        </a>
                    </div>
                    <hr>
                    <div style="padding-top: 5px;text-align: center">
                        <a th:href="@{/manager/employ}">
                            录用的员工
                        </a>
                    </div>
                    <div style="text-align: center">
                        <a th:href="@{/manager/evaluate}">
                            给予的评价
                        </a>
                    </div>
                    <div style="text-align: center">
                        <a th:href="@{/manager/evaluated}">
                            收到的评价
                        </a>
                    </div>
                    <div style="text-align: center">
                        <a th:href="@{/manager/message}">
                            收到的留言
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md10">
            <div class="layui-card">
                <div class="layui-card-header">用户信息</div>
                <div class="layui-card-body">
                    姓名：[[${worker.name}]]
                    <br>
                    年龄：[[${worker.age}]]<br>
                    邮箱：[[${worker.email}]]<br>
                    电话号码：[[${worker.phoneNumber}]]<br>
                    性别：
                    <text th:if="${worker.sex}==0">男</text>
                    <text th:if="${worker.sex}==1">女</text>
                    <br>
                    教育背景：
                    <text th:if="${worker.educationBackground}==1">小学</text>
                    <text th:if="${worker.educationBackground}==2">初中</text>
                    <text th:if="${worker.educationBackground}==3">高中</text>
                    <text th:if="${worker.educationBackground}==4">中专</text>
                    <text th:if="${worker.educationBackground}==5">大专</text>
                    <text th:if="${worker.educationBackground}==6">本科</text>
                    <text th:if="${worker.educationBackground}==7">研究生</text>
                    <br>
                    期望薪资：[[${worker.expectation}]]<br>
                    自我介绍：[[${worker.introduce}]]<br>
                    意向职位：[[${worker.jobIntension}]]<br>
                    工作时间：[[${worker.workerTime}]]<br>
                    工作经历：[[${worker.workerExperience}]]
                    <hr>
                    <div th:if="${evaluation}==null">暂无评价
                        <hr>
                    </div>
                    <div id="message" hidden="hidden" th:if="${evaluation}!=null">
                        <p>评分：[[${evaluation.star}]]星</p>
                        <p>评价人:[[${evaluation.managerName}]]</p>
                        <p>评价：[[${evaluation.content}]]</p>

                        <hr>
                    </div>


                    <button class="layui-btn  layui-btn-radius layui-btn-sm" id="save"
                            th:if="${worker.checkCollect}==0">收藏
                    </button>
                    <button th:if="${worker.checkCollect}==1"
                            class="layui-btn layui-btn-warm layui-btn-radius layui-btn-sm"
                            id="cancelSave">已收藏
                    </button>
                    <button class="layui-btn  layui-btn-radius layui-btn-sm" id="pass" th:if="${evaluationHidden}==null"
                            type="button">录用
                    </button>
                    <button class="layui-btn  layui-btn-radius layui-btn-sm"
                            id="evaluation" th:if="${evaluation}!=null">查看他的评价
                    </button>
                    <button class="layui-btn  layui-btn-radius layui-btn-sm"
                            id="resume">查看简历
                    </button>
                    <input hidden="hidden" th:value="${worker.id}" id="workerDataId" name="id">
                    <input hidden="hidden" th:value="${worker.workerId}" id="workerId" name="id">

                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/assets/js/jquery.js}"></script>
<script th:src="@{/assets/layui/layui.all.js}"></script>
<script>
    $(function () {
        $('#pass').click(function () {
            layer.confirm('是否录用该名职工么', function (index) {
                var id = $("#workerId").val();
                location.href = "/manager/deliver/worker/setTime/" + id;
            });
        });

        $("#save").click(function () {
            layer.confirm('是否收藏该简历么', function (index) {
                var id = $("#workerDataId").val();
                var workerId = $("#workerId").val();
                $.ajax({
                    url: '/manager/workerData/save',
                    method: "post",
                    data: {
                        id: id,
                        workerId: workerId
                    },
                    dataType: "text",
                    success: function (msg) {
                        location.href = "/manager/workerInformation/" + workerId;

                    },
                    error: function () {
                        layer.msg("网络错误，登录失败");
                    }
                });
            });
        });
        $("#cancelSave").click(function () {
            layer.confirm('是否取消收藏该简历么', function (index) {
                var id = $("#workerDataId").val();
                var workerId = $("#workerId").val();
                $.ajax({
                    url: '/manager/workerData/cancelSave',
                    method: "post",
                    data: {
                        id: id,
                        workerId: workerId
                    },
                    dataType: "text",
                    success: function (msg) {
                        location.href = "/manager/workerInformation/" + workerId;
                    },
                    error: function () {
                        layer.msg("网络错误，登录失败");
                    }
                });
            });
        });
        $("#evaluation").click(function () {
            $("#message").show();
        });
        $("#resume").click(function () {
            var workerId = $("#workerId").val();
            location.href = "/manager/worker/resume/" + workerId;
        });
    })
</script>
</body>
</html>