<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>招聘者页面</title>

    <link rel="stylesheet" th:href="@{/assets/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/assets/css/adminLogin/admin.css}">
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item layadmin-flexible" lay-unselect>
                <a href="" layadmin-event="flexible" title="logo">
                    兼职网
                </a>
            </li>

            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a href="" target="_blank" title="首页">
                    BBS论坛
                </a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a th:href="@{/worker/search}">职位管理</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/worker/search}">搜索职位</a></dd>
                    <dd><a th:href="@{/worker/collect}">收藏的职位</a></dd>
                    <dd><a th:href="@{/worker/deliver}">投递的职位</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" lay-unselect>
                <a href="javascript:;">
                    [[${session.manager.userName}]]
                </a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/worker/resume}">填写简历</a></dd>
                    <dd><a th:href="@{/worker/editor}">安全设置</a></dd>
                    <dd><a>退出</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-show-xs-inline-block " lay-unselect>
                <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/worker/collect}">我收藏的职位</a></dd>
                    <dd><a th:href="@{/worker/deliver}">我投递的职位</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md2">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div style="text-align: center;">
                        <img th:src="@{/assets/picture/head.png}">
                    </div>
                    <br>
                    <div style="text-align: center;">
                        <h2> [[${session.manager.userName}]]</h2>
                    </div>
                    <hr>
                    <div>
                        <a class="layui-btn layui-btn-primary  " th:href="@{/manager/publish}">
                            发布兼职
                        </a>
                    </div>
                    <div style="padding-top: 5px">
                        <a class="layui-btn layui-btn-primary" th:href="@{/manager/editor}">
                            安全设置
                        </a></div>
                    <div style="padding-top: 5px">
                        <a class="layui-btn layui-btn-primary" th:href="@{/manager/search}">
                            搜索职位
                        </a>
                    </div>
                    <div style="padding-top: 5px">
                        <a class="layui-btn layui-btn-primary " th:href="@{/manager/allJobs}">
                            我发布的职位
                        </a>
                    </div>
                    <div style="padding-top: 5px">
                        <a class="layui-btn layui-btn-primary " th:href="@{/manager/employ}">
                            我录用的员工
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-col-md10">
            <div class="layui-card">
                <div class="layui-card-header">用户信息</div>
                <div class="layui-card-body">
                    姓名：[[${worker.name}]]
                    <br>
                    年龄：[[${worker.age}]]<br>
                    邮箱：[[${worker.email}]]<br>
                    电话号码：[[${worker.phoneNumber}]]<br>
                    性别：
                    <text th:if="${worker.sex}==0">男</text>
                    <text th:if="${worker.sex}==1">女</text>
                    <br>
                    教育背景：
                    <text th:if="${worker.educationBackground}==1">小学</text>
                    <text th:if="${worker.educationBackground}==2">初中</text>
                    <text th:if="${worker.educationBackground}==3">高中</text>
                    <text th:if="${worker.educationBackground}==4">中专</text>
                    <text th:if="${worker.educationBackground}==5">大专</text>
                    <text th:if="${worker.educationBackground}==6">本科</text>
                    <text th:if="${worker.educationBackground}==7">研究生</text>
                    <br>
                    期望薪资：[[${worker.expectation}]]<br>
                    自我介绍：[[${worker.introduce}]]<br>
                    意向职位：[[${worker.jobIntension}]]<br>
                    工作时间：[[${worker.workerTime}]]<br>
                    工作经历：[[${worker.workerExperience}]]
                    <hr>

                    <button class="layui-btn  layui-btn-radius" id="evaluate" type="button" th:if="${employ.evaluate==0}">给予评价</button>
                    <button class="layui-btn  layui-btn-radius layui-btn-warm" id="check" type="button" th:if="${employ.evaluate==1}">您已经评价！</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/assets/js/jquery.js}"></script>
<script th:src="@{/assets/layui/layui.all.js}"></script>
<script>
    $(function () {
        $('#evaluate').click(function () {
            location.href = "/manager/worker/evaluate/" + [[${worker.workerId}]];
        });
        $('#check').click(function () {
            layer.msg("您已评价");
        })
    })
</script>
</body>
</html>