<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/assets/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/assets/css/adminLogin/admin.css}">
    <link rel="stylesheet" th:href="@{/assets/css/adminLogin/login.css}">

</head>
<body style="background-color: #fff">
<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-row" id="popSearchRoleTest">
            <div class="layui-col-md11">
                <div class="layui-form layui-form-pane">
                    <form method="post">
                        <div class="layui-form-item">
                            <label class="layui-form-label">新密码</label>
                            <div class="layui-input-block">
                                <input type="password" name="username" lay-verify="required|password"
                                       placeholder="请输入新密码"
                                       autocomplete="off" class="layui-input" id="newPassword">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">确认新密码</label>
                            <div class="layui-input-block">
                                <input type="password" lay-verify="required|password" placeholder="请输入新密码"
                                       autocomplete="off" class="layui-input" id="tryPassword">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="formDemo" type="button"
                                        id="worker">确定
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/assets/js/jquery.js}"></script>
<script th:src="@{/assets/layui/layui.all.js}"></script>

<script>
    layui.use('form', function () {
        var form = layui.form;
        form.verify({
            password: [
                /^[\S]{6,12}$/
                , '密码必须6到12位，且不能出现空格'
            ]
        });
        form.on('submit(formDemo)', function (data) {
            var newPassword = $('#newPassword').val();
            var tryPassword = $('#tryPassword').val();
            if (tryPassword === newPassword) {
                $.ajax({
                    url: '/worker/changePassword/submit',
                    method: "post",
                    data: {
                        password: tryPassword
                    },
                    dataType: "json",
                    success: function (msg) {
                        if (msg.success) {
                            layer.msg(msg.success);
                        } else{
                            layer.msg(msg.error);
                        }
                    },
                    error: function () {
                        layer.msg("网络错误，登录失败");
                    }
                });
            } else {
                layer.msg("两次密码不一致，请重新输入！");
            }
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>
</body>
</html>