<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>招聘者页面</title>

    <link rel="stylesheet" href="/static/assets/layui/css/layui.css"
          th:href="@{/assets/layui/css/layui.css}">

    <link rel="stylesheet" href="../frame/static/css/style.css"
          th:href="@{/assets/css/adminLogin/template.css}">
</head>

<body style="background-color: #F2F2F2;">
<div class="layui-layout layui-layout-admin layui-layout-body">
    <div class="layui-header">
        <div class="layui-logo">layui 后台布局</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><a href="">欢迎招聘者</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    [[${session.userName}]]
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>
    </div>
    <div style="padding: 20px; background-color: #F2F2F2;">
        <div class="layui-container">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-header">欢迎您</div>
                        <div class="layui-card-body">
                            [[${session.userName}]]
                        </div>
                    </div>
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <a class="layui-btn  " th:href="@{/worker/resume}">
                                <i class="layui-icon layui-icon-edit"></i>填写简历
                            </a>
                            <hr>
                            <a class="layui-btn " th:href="@{/worker/editor}">
                                <i class="layui-icon layui-icon-set"></i>安全设置
                            </a>
                            <hr>
                            <a class="layui-btn " th:href="@{/worker/search}">
                                <i class="layui-icon layui-icon-search"></i>搜索职位
                            </a>
                            <hr>
                            <a class="layui-btn " th:href="@{/worker/collect}">
                                <i class="layui-icon layui-icon-search"></i>我收藏的职位
                            </a>
                            <hr>
                            <a class="layui-btn " th:href="@{/worker/deliver}">
                                <i class="layui-icon layui-icon-search"></i>我投递的职位
                            </a>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md9">
                    <div class="layui-fluid" style="padding:0">
                        <div class="layadmin-caller">
                            <div class="caller-contar">
                                <h2>当前收藏的职位</h2>
                                <hr>
                                <div class="caller-item" th:each="job:${jobs}">
                                    <div class="caller-main caller-fl">
                                        <p><strong th:text="${job.title}">标题</strong></p>
                                        <p><i class="layui-icon layui-icon-log"></i>发布时间：<em
                                                th:text="${job.date}"></em>
                                        </p>
                                    </div>
                                    <div class=" caller-fr">
                                        薪资:
                                        <em th:text="${job.lowPay}"></em>-
                                        <em th:text="${job.hightPay}"></em>
                                        <a class="layui-btn" th:href="@{/worker/job/}+${job.id}">查看</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/assets/js/jquery.js}"></script>
<script th:src="@{/assets/layui/layui.all.js}"></script>
</body>
</html>