<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>兼职者页面</title>

    <link rel="stylesheet" href="/static/assets/layui/css/layui.css"
          th:href="@{/assets/layui/css/layui.css}">
    <link rel="stylesheet" href="../frame/static/css/style.css"
          th:href="@{/assets/css/adminLogin/template.css}">

</head>

<body style="background-color: #F2F2F2;">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">layui 后台布局</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><a href="">欢迎兼职者</a></li>
            <li class="layui-nav-item">

                <a href="javascript:;">

                    [[${session.userName}]]
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>
    </div>
</div>
<div style="padding: 20px; background-color: #F2F2F2;">
    <div class="layui-container">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-header">欢迎您</div>
                    <div class="layui-card-body">
                        [[${session.userName}]]
                    </div>
                </div>
                <div class="layui-card">
                    <div class="layui-card-body">
                        <a class="layui-btn  " th:href="@{/worker/resume}">
                            <i class="layui-icon layui-icon-edit"></i>填写简历
                        </a>
                        <hr>
                        <a class="layui-btn " th:href="@{/worker/editor}">
                            <i class="layui-icon layui-icon-set"></i>安全设置
                        </a>
                        <hr>
                        <a class="layui-btn " th:href="@{/worker/search}">
                            <i class="layui-icon layui-icon-search"></i>搜索职位
                        </a>
                    </div>
                </div>
            </div>
            <div class="layui-col-md9">
                <div class="layui-card">
                    <div class="layui-card-header"><h1>[[${job.title}]]</h1></div>
                    <div class="layui-card-body">
                        <h2>职位信息：</h2>
                        <hr>
                        <text th:utext="${job.content}"></text>
                        <hr>
                        <button th:if="${job.collection}==0" class="layui-btn  layui-btn-radius" id="save">收藏</button>
                        <button th:if="${job.collection}==1" class="layui-btn layui-btn-warm layui-btn-radius"
                                id="cancelSave">已收藏
                        </button>
                        <button th:if="${job.deliver}==0" class="layui-btn  layui-btn-radius" id="deliver">投递简历
                        </button>
                        <button th:if="${job.deliver}==1" class="layui-btn layui-btn-warm layui-btn-radius"
                                id="cancelDeliver">已投递
                        </button>
                        <input hidden="hidden" th:value="${job.id}" id="jobId" name="id">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/assets/js/jquery.js}"></script>
<script th:src="@{/assets/layui/layui.all.js}"></script>
<script>
    $(function () {
        var id = $("#jobId").val();
        $("#save").click(function () {
            var params = {};
            params.id = id;
            $.ajax({
                url: 'save',
                method: "post",
                data: params,
                dataType: "text",
                success: function (msg) {
                    layer.msg(msg);
                    setTimeout(function () {
                        location.href = "/worker/job/"+id;
                    }, 1000);
                },
                error: function () {
                    layer.msg("网络错误，登录失败");
                }
            });
        });
        $("#cancelSave").click(function () {
            var params = {};
            params.id = id;
            $.ajax({
                url: 'cancelSave',
                method: "post",
                data: params,
                dataType: "text",
                success: function (msg) {
                    layer.msg(msg);
                    setTimeout(function () {
                        location.href = "/worker/job/"+id;
                    }, 1000);
                },
                error: function () {
                    layer.msg("网络错误，登录失败");
                }
            });
        });
        $("#deliver").click(function () {
            var id = $("#jobId").val();
            var params = {};
            params.id = id;
            $.ajax({
                url: 'deliver',
                method: "post",
                data: params,
                dataType: "text",
                success: function (msg) {
                    layer.msg(msg);
                    setTimeout(function () {
                        location.href = "/worker/job/"+id;
                    }, 1000);
                },
                error: function () {
                    layer.msg("网络错误，登录失败");
                }
            });
        });
        $("#cancelDeliver").click(function () {
            var id = $("#jobId").val();
            var params = {};
            params.id = id;
            $.ajax({
                url: 'cancelDeliver',
                method: "post",
                data: params,
                dataType: "text",
                success: function (msg) {
                    layer.msg(msg);
                    setTimeout(function () {
                        location.href = "/worker/job/"+id;
                    }, 1000);
                },
                error: function () {
                    layer.msg("网络错误，登录失败");
                }
            });
        })
    })
</script>
</body>
</html>