<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>兼职者页面</title>

    <link rel="stylesheet" th:href="@{/assets/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/assets/css/adminLogin/admin.css}">
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item layadmin-flexible" lay-unselect>
                <a th:href="@{/index}" layadmin-event="flexible" title="logo">
                    兼职网
                </a>
            </li>
            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a th:href="@{/worker/index}" target="_blank" title="首页">
                    首页
                </a>
            </li>

            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a th:href="@{/worker/BBS/index}" target="_blank" title="首页">
                    BBS论坛
                </a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a th:href="@{/worker/index}">职位管理</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/worker/search}">搜索职位</a></dd>
                    <dd><a th:href="@{/worker/collect}">收藏的职位</a></dd>
                    <dd><a th:href="@{/worker/deliver}">投递的职位</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a th:href="@{/worker/BBS/index}">论坛管理</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/worker/BBS/publish}">发布帖子</a></dd>
                    <dd><a th:href="@{/worker/BBS/editor}">管理帖子</a></dd>
                    <dd><a th:href="@{/worker/BBS/search}">搜索帖子</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" lay-unselect>
                <a href="javascript:;">
                    [[${session.worker.userName}]]
                </a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/worker/resume}">填写简历</a></dd>
                    <dd><a th:href="@{/worker/resume/index}">查看简历</a></dd>
                    <dd><a th:href="@{/worker/editor}">安全设置</a></dd>
                    <dd><a th:href="@{/worker/exit}">退出</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-show-xs-inline-block " lay-unselect>
                <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/worker/collect}">收藏的职位</a></dd>
                    <dd><a th:href="@{/worker/deliver}">投递的职位</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md2">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div style="text-align: center;">
                        <img th:src="@{/assets/picture/head.png}">
                    </div>
                    <br>
                    <div style="text-align: center;">
                        <h2> [[${session.workerData.name}]]</h2>
                    </div>
                    <hr>
                    <div style="text-align: center;">
                        <a th:href="@{/worker/resume}">
                            填写简历
                        </a>
                    </div>
                    <div style="padding-top: 5px;text-align: center;">
                        <a th:href="@{/worker/resume/index}">
                            查看简历
                        </a>
                    </div>
                    <div style="padding-top: 5px;text-align: center">
                        <a th:href="@{/worker/editor}">
                            安全设置
                        </a>
                    </div>
                    <hr>
                    <div style="padding-top: 5px;text-align: center">
                        <a th:href="@{/worker/search}">
                            搜索职位
                        </a>
                    </div>
                    <div style="padding-top: 5px;text-align: center">
                        <a th:href="@{/worker/collect}">
                            收藏的职位
                        </a></div>
                    <div style="padding-top: 5px;text-align: center">
                        <a th:href="@{/worker/deliver}">
                            投递的职位
                        </a>
                    </div>
                    <div style="padding-top: 5px;text-align: center">
                        <a th:href="@{/worker/employ}">
                            被录用的职位
                        </a>
                    </div>
                    <hr>
                    <div style="padding-top: 5px;text-align: center">
                        <a th:href="@{/worker/evaluate}">
                            给予的评价
                        </a>
                    </div>
                    <div style="padding-top: 5px;text-align: center">
                        <a th:href="@{/worker/evaluated}">
                            收到的评价
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md10">
            <div class="layui-card">
                <div class="layui-card-header"><h2>[[${job.title}]]</h2></div>
                <div class="layui-card-body">
                    <text th:utext="${job.content}"></text>
                    <hr>
                    职位种类：[[${job.type}]] &nbsp; 职位要求：[[${job.workerLimit}]] &nbsp;
                    <hr>
                    浏览量：[[${job.views}]] &nbsp; 收藏量：[[${job.collection}]] &nbsp; 投递量：[[${job.deliver}]] &nbsp;
                    招聘数：[[${job.workerNumber}]] &nbsp; 已招聘：[[${job.employNumber}]] &nbsp; 剩余量：[[${job.workerNumber}-${job.employNumber}]]
                    <hr>
                    <span th:if="${job.checkEmploy!=1&&job.checkEmploy!=2}">
                        <button th:if="${job.checkCollection}==0" class="layui-btn  layui-btn-radius" id="save"
                                style="margin-left: 10px; ">收藏
                        </button>
                        <button th:if="${job.checkCollection}==1" class="layui-btn layui-btn-warm layui-btn-radius"
                                id="cancelSave" style="margin-left: 10px; ">已收藏
                        </button>
                        <button th:if="${job.checkDeliver}==0" class="layui-btn  layui-btn-radius" id="deliver"
                                style="margin-left: 10px; ">投递简历
                        </button>
                        <button th:if="${job.checkDeliver}==1" class="layui-btn layui-btn-warm layui-btn-radius"
                                id="cancelDeliver" style="margin-left: 10px; ">已投递
                        </button>
                    </span>
                    <button th:if="${job.checkEmploy}==1" class="layui-btn  layui-btn-radius"
                            id="evaluation" style="margin-left: 10px; ">评价招聘者
                    </button>
                    <button th:if="${job.checkEmploy}==2" class="layui-btn  layui-btn-radius layui-btn-warm"
                            id="evaluated" style="margin-left: 10px; ">您已评价过该招聘者
                    </button>
                    <button class="layui-btn  layui-btn-radius" id="message" style="margin-left: 10px; ">给招聘者留言</button>
                    <input hidden="hidden" th:value="${job.id}" id="jobId" name="id">
                    <input hidden="hidden" th:value="${manager.id}" id="managerId" name="managerId">
                </div>
            </div>
            <div class="layui-card" id="test" hidden="hidden">
                <div class="layui-card-header"><h2>给招聘者留言</h2></div>
                <div class="layui-card-body">
                    <div class="layui-form-item layui-form-text">
                        <textarea class="layui-textarea" placeholder="把你想说的都写上去吧!" id="content"></textarea>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-right">
                            <button class="layui-btn layui-btn-radius" id="send" type="button">走你！</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script th:src="@{/assets/js/jquery.js}"></script>
<script th:src="@{/assets/layui/layui.all.js}"></script>
<script>
    $(function () {
        var id = $("#jobId").val();
        $("#save").click(function () {
            layer.confirm('是否收藏该职位么', function (index) {
                var params = {};
                params.id = id;
                $.ajax({
                    url: 'save',
                    method: "post",
                    data: params,
                    dataType: "text",
                    success: function (msg) {
                        location.href = "/worker/job/" + id;
                    },
                    error: function () {
                        layer.msg("网络错误，登录失败");
                    }
                });
            });
        });
        $("#cancelSave").click(function () {
            layer.confirm('是否取消收藏该职位么', function (index) {
                var params = {};
                params.id = id;
                $.ajax({
                    url: 'cancelSave',
                    method: "post",
                    data: params,
                    dataType: "text",
                    success: function (msg) {
                        location.href = "/worker/job/" + id;
                    },
                    error: function () {
                        layer.msg("网络错误，登录失败");
                    }
                });
            });
        })
    });
    $("#deliver").click(function () {
        layer.confirm('是否投递该职位么', function (index) {
            var id = $("#jobId").val();
            var params = {};
            params.id = id;
            $.ajax({
                url: 'deliver',
                method: "post",
                data: params,
                dataType: "text",
                success: function (msg) {
                    location.href = "/worker/job/" + id;
                },
                error: function () {
                    layer.msg("网络错误，登录失败");
                }
            });
        })
    });
    $("#cancelDeliver").click(function () {
        layer.confirm('是否取消投递该职位么', function (index) {
            var id = $("#jobId").val();
            var params = {};
            params.id = id;
            $.ajax({
                url: 'cancelDeliver',
                method: "post",
                data: params,
                dataType: "text",
                success: function (msg) {
                    location.href = "/worker/job/" + id;
                },
                error: function () {
                    layer.msg("网络错误，登录失败");
                }
            });
        })
    });
    $("#evaluation").click(function () {
        layer.confirm('是否评论该招聘者么', function (index) {
            var id = $("#managerId").val();
            var params = {};
            params.id = id;
            location.href = "/worker/evaluationToManager/" + id;
        })
    });
    $("#evaluated").click(function () {
        layer.msg("您以评价过该招聘者");
    });
    $("#message").click(function () {
        $("#test").show();
        layer.close(layer.index);
    });
    $("#send").click(function () {
        layer.confirm('是否给招聘者留言', function (index) {
            var managerId = $("#managerId").val();
            var jobId = $("#jobId").val();
            var content = $("#content").val();
            $.ajax({
                url: "/worker/sendMessage",
                method: "post",
                data: {
                    managerId: managerId,
                    jobId: jobId,
                    content: content
                },
                dataType: "text",
                success: function (msg) {
                        location.href = "/worker/job/" + jobId;

                },
                error: function () {
                    layer.msg("网络错误，登录失败");
                }
            });
        })
    });
</script>
</body>
</html>