<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>兼职者页面</title>

    <link rel="stylesheet" th:href="@{/assets/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/assets/css/adminLogin/admin.css}">
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item layadmin-flexible" lay-unselect>
                <a th:href="@{/index}" layadmin-event="flexible"  target="_blank" title="logo">
                    兼职网
                </a>
            </li>
            <li class="layui-nav-item layui-hide-xs" lay-unselect >
                <a th:href="@{/worker/index}"  title="首页" >
                    首页
                </a>
            </li>


            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a href="" target="_blank" title="首页">
                    BBS论坛
                </a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a th:href="@{/worker/search}">职位管理</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/worker/search}">搜索职位</a></dd>
                    <dd><a th:href="@{/worker/collect}">收藏的职位</a></dd>
                    <dd><a th:href="@{/worker/deliver}">投递的职位</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" lay-unselect>
                <a href="javascript:;">
                    [[${session.worker.userName}]]
                </a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/worker/resume}">填写简历</a></dd>
                    <dd><a th:href="@{/worker/editor}">安全设置</a></dd>
                    <dd><a th:href="@{/worker/exit}">退出</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-show-xs-inline-block " lay-unselect>
                <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/worker/collect}">我收藏的职位</a></dd>
                    <dd><a th:href="@{/worker/deliver}">我投递的职位</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md2">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div style="text-align: center;">
                        <img th:src="@{/assets/picture/head.png}">
                    </div>
                    <br>
                    <div style="text-align: center;">
                        <h2> [[${session.workerData.name}]]</h2>
                    </div>
                    <hr>
                    <div>
                        <a class="layui-btn layui-btn-primary  " th:href="@{/worker/resume}">
                            填写简历
                        </a>
                    </div>
                    <div style="padding-top: 5px">
                        <a class="layui-btn layui-btn-primary" th:href="@{/worker/editor}">
                            安全设置
                        </a></div>
                    <div style="padding-top: 5px">
                        <a class="layui-btn layui-btn-primary" th:href="@{/worker/search}">
                            搜索职位
                        </a>
                    </div>
                    <div style="padding-top: 5px">
                        <a class="layui-btn layui-btn-primary " th:href="@{/worker/collect}">
                            收藏的职位
                        </a></div>
                    <div style="padding-top: 5px">
                        <a class="layui-btn layui-btn-primary " th:href="@{/worker/deliver}">
                            投递的职位
                        </a>
                    </div>
                    <div style="padding-top: 5px">
                        <a class="layui-btn layui-btn-primary " th:href="@{/worker/employ}">
                            被录用的职位
                        </a>
                    </div>
                </div>
            </div>
        </div>
            <div class="layui-col-md10">
                <div class="layui-card">
                    <div class="layui-card-header"><h2>[[${job.title}]]</h2></div>
                    <div class="layui-card-body">
                        <text th:utext="${job.content}"></text>
                        <hr>
                        <button th:if="${job.collection}==0" class="layui-btn  layui-btn-radius" id="save">收藏</button>
                        <button th:if="${job.collection}==1" class="layui-btn layui-btn-warm layui-btn-radius"
                                id="cancelSave">已收藏
                        </button>
                        <button th:if="${job.deliver}==0" class="layui-btn  layui-btn-radius" id="deliver">投递简历
                        </button>
                        <button th:if="${job.deliver}==1" class="layui-btn layui-btn-warm layui-btn-radius"
                                id="cancelDeliver">已投递
                        </button>
                        <input hidden="hidden" th:value="${job.id}" id="jobId" name="id">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/assets/js/jquery.js}"></script>
<script th:src="@{/assets/layui/layui.all.js}"></script>
<script>
    $(function () {
        var id = $("#jobId").val();
        $("#save").click(function () {
            var params = {};
            params.id = id;
            $.ajax({
                url: 'save',
                method: "post",
                data: params,
                dataType: "text",
                success: function (msg) {
                    layer.msg(msg);
                    setTimeout(function () {
                        location.href = "/worker/job/" + id;
                    }, 1000);
                },
                error: function () {
                    layer.msg("网络错误，登录失败");
                }
            });
        });
        $("#cancelSave").click(function () {
            var params = {};
            params.id = id;
            $.ajax({
                url: 'cancelSave',
                method: "post",
                data: params,
                dataType: "text",
                success: function (msg) {
                    layer.msg(msg);
                    setTimeout(function () {
                        location.href = "/worker/job/" + id;
                    }, 1000);
                },
                error: function () {
                    layer.msg("网络错误，登录失败");
                }
            });
        });
        $("#deliver").click(function () {
            var id = $("#jobId").val();
            var params = {};
            params.id = id;
            $.ajax({
                url: 'deliver',
                method: "post",
                data: params,
                dataType: "text",
                success: function (msg) {
                    layer.msg(msg);
                    setTimeout(function () {
                        location.href = "/worker/job/" + id;
                    }, 1000);
                },
                error: function () {
                    layer.msg("网络错误，登录失败");
                }
            });
        });
        $("#cancelDeliver").click(function () {
            var id = $("#jobId").val();
            var params = {};
            params.id = id;
            $.ajax({
                url: 'cancelDeliver',
                method: "post",
                data: params,
                dataType: "text",
                success: function (msg) {
                    layer.msg(msg);
                    setTimeout(function () {
                        location.href = "/worker/job/" + id;
                    }, 1000);
                },
                error: function () {
                    layer.msg("网络错误，登录失败");
                }
            });
        })
    })
</script>
</body>
</html>