<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>兼职者页面</title>

    <link rel="stylesheet" th:href="@{/assets/layui/css/layui.css}">

    <link rel="stylesheet" th:href="@{/assets/css/adminLogin/admin.css}">
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item layadmin-flexible" lay-unselect>
                <a th:href="@{/index}" layadmin-event="flexible" title="logo">
                    兼职网
                </a>
            </li>
            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a th:href="@{/worker/index}" target="_blank" title="首页">
                    首页
                </a>
            </li>

            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a th:href="@{/worker/BBS/index}" target="_blank" title="首页">
                    BBS论坛
                </a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a th:href="@{/worker/index}">职位管理</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/worker/search}">搜索职位</a></dd>
                    <dd><a th:href="@{/worker/collect}">收藏的职位</a></dd>
                    <dd><a th:href="@{/worker/deliver}">投递的职位</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a th:href="@{/worker/BBS/index}">论坛管理</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/worker/BBS/publish}">发布帖子</a></dd>
                    <dd><a th:href="@{/worker/BBS/editor}">管理帖子</a></dd>
                    <dd><a th:href="@{/worker/BBS/search}">搜索帖子</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" lay-unselect>
                <a href="javascript:;">
                    [[${session.worker.userName}]]
                </a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/worker/resume}">填写简历</a></dd>
                    <dd><a th:href="@{/worker/resume/index}">查看简历</a></dd>
                    <dd><a th:href="@{/worker/editor}">安全设置</a></dd>
                    <dd><a th:href="@{/worker/exit}">退出</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-show-xs-inline-block " lay-unselect>
                <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/worker/collect}">收藏的职位</a></dd>
                    <dd><a th:href="@{/worker/deliver}">投递的职位</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md2">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div style="text-align: center;">
                        <img th:src="${session.workerData.headPhoto}" id="headPhoto"
                             style="width:150px; height:150px; border-radius:50%; ">
                    </div>
                    <br>
                    <div style="text-align: center;">
                        <h2> [[${session.workerData.name}]]</h2>
                    </div>
                    <hr>
                    <div style="text-align: center;">
                        <a th:href="@{/worker/resume}">
                            填写简历
                        </a>
                    </div>
                    <div style="padding-top: 5px;text-align: center;">
                        <a th:href="@{/worker/resume/index}">
                            查看简历
                        </a>
                    </div>
                    <div style="padding-top: 5px;text-align: center;">
                        <a th:href="@{/worker/editor/headPhoto}">
                            修改头像
                        </a>
                    </div>
                    <div style="padding-top: 5px;text-align: center">
                        <a th:href="@{/worker/editor}">
                            安全设置
                        </a>
                    </div>
                    <hr>
                    <div style="padding-top: 5px;text-align: center">
                        <a th:href="@{/worker/search}">
                            搜索职位
                        </a>
                    </div>
                    <div style="padding-top: 5px;text-align: center">
                        <a th:href="@{/worker/collect}">
                            收藏的职位
                        </a></div>
                    <div style="padding-top: 5px;text-align: center">
                        <a th:href="@{/worker/deliver}">
                            投递的职位
                        </a>
                    </div>
                    <div style="padding-top: 5px;text-align: center">
                        <a th:href="@{/worker/employ}">
                            被录用的职位
                        </a>
                    </div>
                    <hr>
                    <div style="padding-top: 5px;text-align: center">
                        <a th:href="@{/worker/evaluate}">
                            给予的评价
                        </a>
                    </div>
                    <div style="padding-top: 5px;text-align: center">
                        <a th:href="@{/worker/evaluated}">
                            收到的评价
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md10">
            <div class="layui-card" th:if="${evaluations.size()==0}">
                <div class="layui-card-header">
                    你还没有被评价过哦！
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md4" th:each="evaluation:${evaluations}">
                        <div class="layui-card">
                            <div class="layui-card-header">
                                <a th:href="@{/worker/receiveEvaluation/}+${evaluation.id}"> <strong>[[${evaluation.workerName}]]</strong></a>
                            </div>
                            <div class="layui-card-body">
                                <p><span>等级:</span>
                                    <span th:text="${evaluation.star}"></span>星
                                </p>
                                评价时间:
                                <text th:text="${evaluation.date}"></text>
                                <hr>
                                <button class="layui-btn-warm layui-btn layui-btn-radius cancel layui-btn-sm"
                                        th:if="${evaluation.used==1}" th:attr="ss=${evaluation.id}">
                                    取消添加到简历
                                </button>
                                <button class="layui-btn layui-btn-radius used layui-btn-sm"
                                        th:if="${evaluation.used==0}"
                                        th:attr="ss=${evaluation.id}">添加到简历
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/assets/js/jquery.js}"></script>
<script th:src="@{/assets/layui/layui.all.js}"></script>
<script>
    $(function () {
        $(".used").click(function () {
            var id = $(this).attr("ss");
            $.ajax({
                url: "/worker/evaluation/use/" + id,
                dataType: "json",
                method: "post",
                success: function (msg) {
                    if (msg.success) {
                        layer.msg(msg.success);
                        setTimeout(function () {
                            location.href = "/worker/evaluated";
                        }, 1000)
                    } else {
                        layer.msg(msg.error);
                    }
                }, error: function () {
                    layer.msg("网络错误，操作失败");
                }
            })
        });
        $(".cancel").click(function () {
            var id = $(this).attr("ss");
            $.ajax({
                url: "/worker/evaluation/cancel/" + id,
                dataType: "Text",
                method: "post",
                success: function (msg) {
                    layer.msg(msg);
                    setTimeout(function () {
                        location.href = "/worker/evaluated";
                    }, 1000)
                },
                error: function () {
                    layer.msg("网络错误，操作失败");
                }
            })
        })
        $("#headPhoto").click(function () {
            location.href = "/worker/editor/headPhoto";
        })
    })
</script>
</body>
</html>