<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>兼职网后台管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/assets/layui/css/layui.css"
          th:href="@{/assets/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/assets/css/adminLogin/admin.css}">

</head>
<body class="layui-layout-body">

<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <!-- 头部区域 -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layadmin-flexible" lay-unselect>
                    <a th:href="@{/admin/index}" layadmin-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-home"></i>
                    </a>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;">
                        <cite> 兼职者管理</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/admin/workers}">兼职账号</a></dd>
                        <dd><a th:href="@{/admin/worker/information}">兼职者资料</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;">
                        <cite> 招聘者管理</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd class="layui-this"><a th:href="@{/admin/manager/audit}">招聘者审核</a></dd>
                        <dd><a th:href="@{/admin/manager/editor}">招聘者资料管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;">
                        <cite> 职位管理</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/admin/jobs}">查看职位</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;">
                        <cite> BBS论坛管理</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/admin/BBS/index}">查看帖子</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;">
                        <cite> [[${session.adminUserName}]]</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd layadmin-event="logout" style="text-align: center;"><a th:href="@{/admin/exit}">退出</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="about"><i
                            class="layui-icon layui-icon-more-vertical"></i></a>
                </li>

            </ul>
        </div>

        <!-- 侧边菜单 -->
        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <div class="layui-logo" lay-href="home/console.html">
                    <span>兼职网后台</span>
                </div>

                <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu"
                    lay-filter="layadmin-system-side-menu">
                    <li class="layui-nav-item layui-this">
                        <a th:href="@{/admin/editor}">数据展示</a>
                    </li>
                    <li class="layui-nav-item">
                        <a class="" href="javascript:;">兼职者管理</a>
                        <dl class="layui-nav-child">
                            <dd><a th:href="@{/admin/workers}">兼职账号</a></dd>
                            <dd><a th:href="@{/admin/worker/information}">兼职者资料</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item ">
                        <a href="javascript:;">招聘者管理</a>
                        <dl class="layui-nav-child">
                            <dd><a th:href="@{/admin/manager/audit}">招聘者审核</a></dd>
                            <dd><a th:href="@{/admin/manager/editor}">招聘者资料管理</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">职位管理</a>
                        <dl class="layui-nav-child">
                            <dd><a th:href="@{/admin/jobs}">查看职位</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">BBS论坛管理</a>
                        <dl class="layui-nav-child">
                            <dd><a th:href="@{/admin/BBS/index}">查看帖子</a></dd>
                        </dl>
                    </li>

                </ul>
            </div>
        </div>

        <div class="layadmin-pagetabs" id="LAY_app_tabs">
            <a>主页</a>
            <span>/</span>
            <a>主页管理</a>
        </div>

        <div class="layui-body" style="background-color: #F2F2F2;">
            <div class="layui-fluid" style=" padding: 15px;">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">&nbsp;自定义数据</div>
                        <div class="layui-card-body">
                            <form class="layui-form" action="">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">年级选择</label>
                                    <div class="layui-input-block">
                                        <input type="radio" name="workerLimit" value="大一" title="大一" checked="">
                                        <input type="radio" name="workerLimit" value="大二" title="大二">
                                        <input type="radio" name="workerLimit" value="大三" title="大三">
                                        <input type="radio" name="workerLimit" value="大四" title="大四">
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <label class="layui-form-label">招聘种类</label>
                                    <div class="layui-input-inline">
                                        <select name="type" lay-verify="required" id="type" lay-filter="province">
                                            <option value="" selected="">请选择</option>
                                            <option value="普通工作">普通工作</option>
                                            <option value="教辅机构兼职">教辅机构兼职</option>
                                        </select>
                                    </div>
                                    <span hidden="hidden" id="s1">
                                    <div class="layui-form-mid">-</div>
                                    <div class="layui-input-inline" style="width: 100px;">
                                        <select name="subject" id="subject">
                                            <option value="计算机类">计算机类</option>
                                            <option value="通信类">通信类</option>
                                            <option value="机械类">机械类</option>
                                            <option value="外语类">外语类</option>
                                        </select>
                                    </div>
                                    </span>

                                    <span hidden="hidden" id="s2">
                                    <div class="layui-form-mid">-</div>
                                    <div class="layui-input-inline" style="width: 100px;">
                                        <select id="comment" >
                                            <option value="服务类">服务类</option>
                                            <option value="促销类">促销类</option>
                                            <option value="宣传推广类">宣传推广类</option>
                                        </select>
                                    </div>
                                </span>
                                </div>

                                <div class="layui-form-item">
                                    <label class="layui-form-label">限制条件</label>
                                    <div class="layui-input-block">
                                        <input type="checkbox" name="deliver" id="deliver" title="投递">
                                        <input type="checkbox" name="collect" id="collect" title="收藏">
                                        <input type="checkbox" name="employ" id="employ" title="录用">
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button class="layui-btn" lay-submit="" lay-filter="save">保存</button>
                                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                    </div>
                                </div>
                                <div id="main" style="width: 600px;height:400px;"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/assets/js/jquery.js}"></script>
<script th:src="@{/assets/js/echarts.js}"></script>
<script th:src="@{/assets/layui/layui.all.js}"></script>
<script>


    var myChart = echarts.init(document.getElementById('main'));
    // 显示标题，图例和空的坐标轴
    myChart.setOption({
        title: {
            text: '数据分布',
            subtext: '',
            x: 'center'
        },
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: []
        },
        series: [{
            name: '种类数目',
            type: 'pie',
            radius: '55%',
            center: ['50%', '60%'],
            data: [],
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }]
    });

    myChart.showLoading();    //数据加载完之前先显示一段简单的loading动画

    var names=[];    //类别数组（实际用来盛放X轴坐标值）

    layui.use('form', function () {
        var form = layui.form;
        form.on('select(province)', function (data) {
            var type = $("#type").val();
            if (type === "教辅机构兼职") {
                layer.msg("请选择专业");
                $('#s1').show();
                $('#s2').hide();
            } else {
                layer.msg("请选择工作类型");
                $('#s1').hide();
                $('#s2').show();
            }
        });
        form.on('submit(save)', function (data) {
            if(data.field.employ!='on' && data.field.deliver!='on' && data.field.collect!='on')
            {
                layer.msg('请选择至少一样限制条件', {time: 2000, icon: 5, shift: 6});
            }else {
                var type = $("#type").val();
                if (type === "普通工作") {
                    var comment = $("#comment").val();
                    data.field.subject = comment;
                    console.log(data);
                    $.ajax({
                        type : "post",
                        async : true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
                        url : "/admin/data/selfDefine/put",    //请求发送到TestServlet处
                        data : data.field,
                        dataType : "json",        //返回数据形式为json
                        success : function(result) {
                            //请求成功时执行该函数内容，result即为服务器返回的json对象
                            console.log(result.data);
                            names=[];
                            if (result.data) {
                                for(var i=0;i<result.data.length;i++){
                                    names.push(result.data[i].name);    //挨个取出类别并填入类别数组
                                }
                                myChart.hideLoading();    //隐藏加载动画
                                myChart.setOption({        //加载数据图表
                                    legend: {
                                        orient: 'vertical',
                                        left: 'left',
                                        data: names
                                    },
                                    series: [{
                                        name: '种类数目',
                                        type: 'pie',
                                        radius: '55%',
                                        center: ['50%', '60%'],
                                        data: result.data,
                                        itemStyle: {
                                            emphasis: {
                                                shadowBlur: 10,
                                                shadowOffsetX: 0,
                                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                                            }
                                        }
                                    }]
                                });

                            }

                        },
                        error : function(errorMsg) {
                            //请求失败时执行该函数
                            alert("图表请求数据失败!");
                            myChart.hideLoading();
                        }
                    })
                }
            }
            return false;
        })
    })
</script>
</body>
</html>