<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>兼职者页面</title>


    <link rel="stylesheet" th:href="@{/assets/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/assets/css/adminLogin/admin.css}">
    <link rel="stylesheet" th:href="@{/cropper/cropper.css}">
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item layadmin-flexible" lay-unselect>
                <a th:href="@{/index}" layadmin-event="flexible" title="logo">
                    兼职网
                </a>
            </li>
            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a th:href="@{/worker/index}" target="_blank" title="首页">
                    首页
                </a>
            </li>

            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a th:href="@{/worker/BBS/index}" target="_blank" title="首页">
                    BBS论坛
                </a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a th:href="@{/worker/index}">职位管理</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/worker/search}">搜索职位</a></dd>
                    <dd><a th:href="@{/worker/collect}">收藏的职位</a></dd>
                    <dd><a th:href="@{/worker/deliver}">投递的职位</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a th:href="@{/worker/BBS/index}">论坛管理</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/worker/BBS/publish}">发布帖子</a></dd>
                    <dd><a th:href="@{/worker/BBS/editor}">管理帖子</a></dd>
                    <dd><a th:href="@{/worker/BBS/search}">搜索帖子</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" lay-unselect>
                <a href="javascript:;">
                    [[${session.worker.userName}]]
                </a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/worker/resume}">填写简历</a></dd>
                    <dd><a th:href="@{/worker/resume/index}">查看简历</a></dd>
                    <dd><a th:href="@{/worker/editor}">安全设置</a></dd>
                    <dd><a th:href="@{/worker/exit}">退出</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-show-xs-inline-block " lay-unselect>
                <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/worker/collect}">收藏的职位</a></dd>
                    <dd><a th:href="@{/worker/deliver}">投递的职位</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md2">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div style="text-align: center;">
                        <img th:src="${session.workerData.headPhoto}" id="headPhoto"
                             style="width:150px; height:150px; border-radius:50%; ">
                    </div>
                    <br>
                    <div style="text-align: center;">
                        <h2> [[${session.workerData.name}]]</h2>
                    </div>
                    <hr>
                    <div style="text-align: center;">
                        <a th:href="@{/worker/resume}">
                            填写简历
                        </a>
                    </div>
                    <div style="padding-top: 5px;text-align: center;">
                        <a th:href="@{/worker/resume/index}">
                            查看简历
                        </a>
                    </div>
                    <div style="padding-top: 5px;text-align: center;">
                        <a th:href="@{/worker/editor/headPhoto}">
                            修改头像
                        </a>
                    </div>
                    <div style="padding-top: 5px;text-align: center">
                        <a th:href="@{/worker/editor}">
                            安全设置
                        </a>
                    </div>
                    <hr>
                    <div style="padding-top: 5px;text-align: center">
                        <a th:href="@{/worker/search}">
                            搜索职位
                        </a>
                    </div>
                    <div style="padding-top: 5px;text-align: center">
                        <a th:href="@{/worker/collect}">
                            收藏的职位
                        </a></div>
                    <div style="padding-top: 5px;text-align: center">
                        <a th:href="@{/worker/deliver}">
                            投递的职位
                        </a>
                    </div>
                    <div style="padding-top: 5px;text-align: center">
                        <a th:href="@{/worker/employ}">
                            被录用的职位
                        </a>
                    </div>
                    <hr>
                    <div style="padding-top: 5px;text-align: center">
                        <a th:href="@{/worker/evaluate}">
                            给予的评价
                        </a>
                    </div>
                    <div style="padding-top: 5px;text-align: center">
                        <a th:href="@{/worker/evaluated}">
                            收到的评价
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="layui-col-md10">
            <div class="layui-card">
                <div class="layui-card-header">修改头像</div>
                <div class="layui-card-body">
                    <div class="layui-form-item">
                        <label class="layui-form-label">头像</label>
                        <div>
                            <div class="layui-upload-list" style="margin:0">
                                <img id="srcimgurl" th:src="${session.workerData.headPhoto}" class="layui-upload-img">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn " id="editimg">修改头像</button>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <div class="layui-form-mid layui-word-aux">头像的尺寸限定150x150px,大小在50kb以内</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/assets/layui/layui.all.js}"></script>
<script th:src="@{/cropper/cropper.js}"></script>
<script th:src="@{/cropper/croppers.js}"></script>
<script>
    layui.config({
        base: '/cropper/' //layui自定义layui组件目录
    }).use(['form', 'croppers'], function () {
        var $ = layui.jquery
            , form = layui.form
            , croppers = layui.croppers
            , layer = layui.layer;
        var src = $("#src").val();
        $('#demo1').attr('src', src);
        //创建一个头像上传组件
        croppers.render({
            elem: '#editimg'
            , saveW: 150     //保存宽度
            , saveH: 150
            , mark: 1 / 1    //选取比例
            , area: '900px'  //弹窗宽度
            , url: '/worker/editor/headPhoto'  //图片上传接口返回和（layui 的upload 模块）返回的JOSN一样
            , done: function () { //上传完毕回调
                setTimeout(function () {
                    location.href = "/worker/editor/headPhoto";
                }, 100)
            }
        });
    });
</script>
</body>
</html>