<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BBS页面</title>

    <link rel="stylesheet" th:href="@{/assets/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/assets/css/bbs/global.css}">
    <link rel="stylesheet" th:href="@{/assets/css/adminLogin/admin.css}">
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item layadmin-flexible" lay-unselect>
                <a th:href="@{/index}" layadmin-event="flexible" title="logo" target="_blank">
                    兼职网
                </a>
            </li>

            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a th:href="@{/worker/index}" title="首页">
                    首页
                </a>
            </li>
            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a th:href="@{/worker/BBS/index}" title="首页">
                    BBS论坛
                </a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a th:href="@{/worker/index}">职位管理</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/worker/search}">搜索职位</a></dd>
                    <dd><a th:href="@{/worker/collect}">收藏的职位</a></dd>
                    <dd><a th:href="@{/worker/deliver}">投递的职位</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a th:href="@{/worker/BBS/index}">论坛管理</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/worker/BBS/publish}">发布帖子</a></dd>
                    <dd><a th:href="@{/worker/BBS/editor}">管理帖子</a></dd>
                    <dd><a th:href="@{/worker/BBS/search}">搜索帖子</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" lay-unselect>
                <a href="javascript:;">
                    [[${session.worker.userName}]]
                </a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/worker/resume}">填写简历</a></dd>
                    <dd><a th:href="@{/worker/editor}">安全设置</a></dd>
                    <dd><a th:href="@{/worker/exit}">退出</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-show-xs-inline-block " lay-unselect>
                <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/worker/collect}">收藏的职位</a></dd>
                    <dd><a th:href="@{/worker/deliver}">投递的职位</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8 content detail">
            <div class="fly-panel detail-box">
                <h1>[[${bbs.title}]]</h1>
                <div class="fly-detail-info">
                    <span class="layui-badge layui-bg-red">精帖</span>
                    <span class="fly-list-nums">
               <a href="#comment"><i class="iconfont" title="回答">&#xe60c;</i>[[${discussList.size()}]]</a>
               <i class="iconfont" title="人气">&#xe60b;</i> [[${bbs.views}]]
             </span>
                </div>
                <div class="detail-about">
                    <a class="fly-avatar">
                        <img th:src="${data.headPhoto}">
                    </a>
                    <div class="fly-detail-user">
                        <a class="fly-link">
                            <cite>[[${data.name}]]</cite>
                            <i class="iconfont icon-renzheng" title="认证信息：{{ rows.user.approve }}"></i>
                            <i class="layui-badge fly-badge-vip">VIP3</i>
                        </a>
                        <span>[[${bbs.date}]]</span>
                    </div>
                    <div class="detail-hits" id="LAY_jieAdmin" data-id="123">
                        <span style="padding-right: 10px; color: #FF7200">[[${status}]]</span>
                    </div>
                </div>
                <hr>
                <text th:utext="${bbs.content}"></text>
                <input id="bbsId" th:value="${bbs.id}" hidden="hidden">
            </div>

            <div class="fly-panel detail-box" id="flyReply">
                <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
                    <legend>回帖</legend>
                </fieldset>

                <ul class="jieda" id="jieda">


                    <li data-id="111" th:each="discuss:${discussList}">
                        <a name="item-1111111111"></a>
                        <div class="detail-about detail-about-reply">
                            <a class="fly-avatar">
                                <img th:src="${discuss.headPhoto}">
                            </a>
                            <div class="fly-detail-user">
                                <a href="" class="fly-link">
                                    <cite>[[${discuss.author}]]</cite>
                                </a>
                            </div>
                            <div class="detail-hits">
                                <span>[[${discuss.time}]]</span>
                            </div>
                        </div>
                        <div class="detail-body jieda-body photos">
                            <p>[[${discuss.content}]]</p>
                        </div>
                        <div class="jieda-reply">
                 <span class="zan" rel="unlike" th:attr="pid=${discuss.id}">
                   <i class="iconfont icon-zan"></i>
                   <em th:id="num+${discuss.id}">[[${discuss.good}]]</em>
                 </span>
                            <span class="reply" th:attr="name=${discuss.author}">
                   <i class="iconfont icon-svgmoban53"></i>
                   回复
                 </span>

                        </div>
                    </li>


                    <li class="fly-none" th:if="${discussList.size()} eq 0">消灭零回复</li>
                </ul>

                <div class="layui-form layui-form-pane">
                    <form action="/jie/reply/" method="post">
                        <div class="layui-form-item layui-form-text">
                            <a name="comment"></a>
                            <div class="layui-input-block">
                   <textarea id="content" name="content" required lay-verify="required" placeholder="请输入内容"
                             class="layui-textarea fly-editor" style="height: 150px;"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <input type="hidden" name="jid" value="123">
                            <button class="layui-btn" lay-filter="go" lay-submit>提交回复</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="layui-col-md4">
            <dl class="fly-panel fly-list-one">
                <dt class="fly-panel-title" >评论最多</dt>
                <dd th:each="e:${hot}">
                    <a th:href="@{/worker/BBS/look/}+${e.id}">[[${e.content}]]</a>
                    <span><i class="iconfont icon-pinglun1"></i>[[${e.discuss}]]</span>
                </dd>
            </dl>

            <dl class="fly-panel fly-list-one">
                <dt class="fly-panel-title">观看最多</dt>
                <dd th:each="e:${view}">
                    <a th:href="@{/worker/BBS/look/}+${e.id}">[[${e.title}]]</a>
                    <span> <i class="iconfont" title="人气">&#xe60b;</i>[[${e.views}]]</span>
                </dd>
            </dl>

            <div class="fly-panel">
                <div class="fly-panel-title">
                    GUET兼职网
                </div>
                <div class="fly-panel-main">
                    <a th:href="@{/index}" target="_blank" class="fly-zanzhu"
                       time-limit="2017.09.25-2099.01.01" style="background-color: #5FB878;">GUET兼职网，桂电学生都在用</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/assets/js/jquery.js}"></script>
<script th:src="@{/assets/layui/layui.all.js}"></script>
<script>
    layui.use(['form', 'layedit'], function () {
        var form = layui.form;
        var BBSId = $("#bbsId").val();
        form.on('submit(go)', function (data) {
            layer.confirm('确定发送评论么', function (index) {
                $.ajax({
                    url: '/worker/BBS/discuss/' + BBSId,
                    method: "post",
                    data: data.field,
                    dataType: "json",
                    success: function (msg) {
                        location.href = "/worker/BBS/look/" + BBSId;
                    },
                    error: function () {
                        layer.msg("网络错误，登录失败");
                    }
                });
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
    $(function () {
        $(".reply").click(function () {
            var name = $(this).attr("name");
            layer.msg("您@了" + name);
            var obj = document.getElementById("content"); // textarea对象
            obj.append("@" + name + " "); // 在对象末尾处加入内容
        });
        $(".zan").click(function () {
            var id = $(this).attr("pid");
            var D = $(this).attr("rel");
            if (D === 'like') {
                $(this).removeClass("zanok").attr("rel", "unlike");
                $.ajax({
                    url: '/worker/BBS/cancelGood/' + id,
                    method: "post",
                    dataType: "json",
                    success: function (msg) {
                        //applying animation class
                        layer.msg("取消点赞");
                        $("#num" + id).html(msg.good);
                    },
                    error: function () {
                        layer.msg("网络错误，点赞数百");
                    }
                });
            } else {
                $(this).addClass("zanok").attr("rel", "like");
                $.ajax({
                    url: '/worker/BBS/good/' + id,
                    method: "post",
                    dataType: "json",
                    success: function (msg) {
                        layer.msg("点赞成功");
                        $("#num" + id).html(msg.good);
                    },
                    error: function () {
                        layer.msg("网络错误，点赞失败");
                    }
                });

            }
        })
    })
</script>
</body>
</html>