<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>招聘者页面</title>

    <link rel="stylesheet" th:href="@{/assets/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/assets/css/adminLogin/admin.css}">


    <link rel="stylesheet" th:href="@{/assets/index/css/ico.1539594650.css}">

    <link rel="stylesheet" th:href="@{/assets/index/css/index.1555395693.css}">

    <link rel="stylesheet" th:href="@{/assets/index/css/jzcglobal.1542282856.css}">

    <link rel="stylesheet" th:href="@{/assets/index/css/jzpop.1555579771.css}">
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item layadmin-flexible" lay-unselect>
                <a th:href="@{/index}" layadmin-event="flexible" title="logo" target="_blank">
                    兼职网
                </a>
            </li>

            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a th:href="@{/manager/index}" title="首页">
                    首页
                </a>
            </li>
            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a th:href="@{/manager/BBS/index}" target="_blank" title="首页">
                    BBS论坛
                </a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a th:href="@{/manager/index}">职位管理</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/manager/publish}">发布职位</a></dd>
                    <dd><a th:href="@{/manager/search}">搜索职位</a></dd>
                    <dd><a th:href="@{/manager/allJobs}">发布的职位</a></dd>
                    <dd><a th:href="@{/manager/employ}">录用的员工</a></dd>
                    <dd><a th:href="@{/manager/evaluate}">给予的评价</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a th:href="@{/manager/BBS/index}">论坛管理</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/manager/BBS/publish}">发布帖子</a></dd>
                    <dd><a th:href="@{/manager/BBS/editor}">管理帖子</a></dd>
                    <dd><a th:href="@{/manager/BBS/search}">搜索帖子</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" lay-unselect>
                <a href="javascript:;">
                    [[${session.manager.userName}]]
                </a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/manager/informationEditor}">资料管理</a></dd>
                    <dd><a th:href="@{/manager/editor}">修改密码</a></dd>
                    <dd><a th:href="@{/manager/exit}">退出</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-show-xs-inline-block " lay-unselect>
                <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/manager/publish}">发布职位</a></dd>
                    <dd><a th:href="@{/manager/search}">搜索职位</a></dd>
                    <dd><a th:href="@{/manager/search/worker}">搜索简历</a></dd>
                    <dd><a th:href="@{/manager/allJobs}">发布的职位</a></dd>
                    <dd><a th:href="@{/manager/employ}">录用的员工</a></dd>
                    <dd><a th:href="@{/manager/evaluate}">给予的评价</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md2">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div style="text-align: center;">
                        <img th:src="${session.manager.headPhoto}" id="headPhoto"
                             style="width:150px; height:150px; border-radius:50%; ">
                    </div>
                    <br>
                    <div style="text-align: center;">
                        <h2> [[${session.manager.name}]]</h2>
                    </div>
                    <hr>
                    <div style="padding-top: 5px;text-align: center">
                        <a th:href="@{/manager/publish}">
                            发布兼职
                        </a>
                    </div>
                    <hr>
                    <div style="padding-top: 5px;text-align: center">
                        <a th:href="@{/manager/informationEditor}">
                            资料管理
                        </a>
                    </div>
                    <div style="text-align: center">
                        <a th:href="@{/manager/editor/headPhoto}">
                            修改头像
                        </a>
                    </div>
                    <div style="text-align: center">
                        <a th:href="@{/manager/editor}">
                            安全设置
                        </a>
                    </div>
                    <hr>
                    <div style="padding-top: 5px;text-align: center">
                        <a th:href="@{/manager/search/worker}">
                            搜索简历
                        </a>
                    </div>
                    <div style="text-align: center">
                        <a th:href="@{/manager/collect}">
                            收藏的简历
                        </a>
                    </div>
                    <hr>
                    <div style="padding-top: 5px;text-align: center">
                        <a th:href="@{/manager/search}">
                            搜索职位
                        </a>
                    </div>
                    <div style="text-align: center">
                        <a th:href="@{/manager/allJobs}">
                            发布的职位
                        </a>
                    </div>
                    <hr>
                    <div style="padding-top: 5px;text-align: center">
                        <a th:href="@{/manager/employ}">
                            录用的员工
                        </a>
                    </div>
                    <div style="text-align: center">
                        <a th:href="@{/manager/evaluate}">
                            给予的评价
                        </a>
                    </div>
                    <div style="text-align: center">
                        <a th:href="@{/manager/evaluated}">
                            收到的评价
                        </a>
                    </div>
                    <div style="text-align: center">
                        <a th:href="@{/manager/message}">
                            收到的留言
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md10">
            <div class="layui-card">
                <div class="layui-card-header">发布兼职</div>
                <div class="layui-card-body">
                    <form class="layui-form layui-form-pane" id="form">
                        <div class="layui-form-item">
                            <label class="layui-form-label">标题</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" autocomplete="off" placeholder="请输入标题"
                                       class="layui-input" lay-verify="required">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">招聘人数</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="workerNumber" placeholder="招聘人数" autocomplete="off"
                                           class="layui-input" lay-verify="required|people">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">薪资范围</label>
                                <div class="layui-input-inline" style="width: 100px;">
                                    <input type="text" name="lowPay" placeholder="￥" autocomplete="off"
                                           class="layui-input" lay-verify="required|number">
                                </div>
                                <div class="layui-form-mid">-</div>
                                <div class="layui-input-inline" style="width: 100px;">
                                    <input type="text" name="hightPay" placeholder="￥" autocomplete="off"
                                           class="layui-input" lay-verify="required|number">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">招聘条件</label>
                                <div class="layui-input-inline">
                                    <select name="workerLimit" lay-verify="required">
                                        <option value="" selected="">请选择</option>
                                        <option value="无限制">无限制</option>
                                        <option value="大一">大一</option>
                                        <option value="大二">大二</option>
                                        <option value="大三">大三</option>
                                        <option value="大四">大四</option>
                                    </select>
                                </div>

                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">招聘种类</label>
                                <div class="layui-input-inline">
                                    <select name="type" lay-verify="required" id="type" lay-filter="province">
                                        <option value="" selected="">请选择</option>
                                        <option value="普通工作">普通工作</option>
                                        <option value="教辅机构兼职">教辅机构兼职</option>
                                    </select>
                                </div>
                                <span hidden="hidden" id="s1">
                                    <div class="layui-form-mid">-</div>
                                    <div class="layui-input-inline" style="width: 100px;">
                                        <select name="subject" id="subject">
                                            <option value="" selected="">请选择</option>
                                            <option value="计算机类">计算机类</option>
                                            <option value="通信类">通信类</option>
                                            <option value="机械类">机械类</option>
                                            <option value="外语类">外语类</option>
                                        </select>
                                    </div>
                                </span>
                                <span hidden="hidden" id="s2">
                                    <div class="layui-form-mid">-</div>
                                    <div class="layui-input-inline" style="width: 100px;">
                                        <select id="comment">
                                            <option value="" selected="">请选择</option>
                                            <option value="服务类">服务类</option>
                                            <option value="促销类">促销类</option>
                                            <option value="宣传推广类">宣传推广类</option>
                                        </select>
                                    </div>
                                </span>
                            </div>

                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">兼职介绍</label>
                            <div class="layui-input-block">
                                <textarea id="demo" style="display: none;" name="content"
                                          lay-verify="content"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <button class="layui-btn" lay-submit="" lay-filter="go" type="button">发布</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-seo">
    <div class="w">
        <div class="item friend-link">
            <div class="links">
                <h3>热门城市：</h3>
                <a>北京招聘</a>
                <a>上海招聘</a>
                <a>广州招聘</a>
                <a>深圳招聘</a>
                <a>石家庄招聘</a>
                <a>郑州招聘</a>
                <a>济南招聘</a>
                <a>青岛招聘</a>
                <a>合肥招聘</a>
                <a>太原招聘</a>
                <a>西安招聘</a>
                <a>武汉招聘</a>
            </div>
            <a class="btn_arrow" href="#"></a>
        </div>
        <div class="item friend-link">
            <div class="links">
                <h3>热门职位：</h3>
                <a> 搬运工招聘</a>
                <a> 仓库管理员招聘</a>
                <a> 客服经理招聘</a>
                <a> 在线客服招聘</a>
                <a> 销售支持招聘</a>
                <a> 销售经理招聘</a>
                <a> 网络销售招聘</a>
                <a> 电话销售招聘</a>
            </div>
            <a class="btn_arrow" href="#"></a>
        </div>
        <div class="item friend-link">
            <div class="links">
                <h3>手机版：</h3>
                <a> 找工作</a>
            </div>
        </div>
        <div class="item friend-link">
            <div class="links">
                <h3>友情链接：</h3>
                <a href="https://www.gliet.edu.cn/">桂林电子科技大学</a>
                <a href="http://www.doumi.com/">斗米网</a>
                <a href="https://gl.58.com/">58同城</a>
            </div>
            <a class="btn_arrow" href="#"></a>
        </div>
    </div>
</div>
<div class="footer">
    <div class="content">
        <div class="w">
            <div class="hotline">
                <span class="title">传真</span>
                <span class="phone">0773-2290083</span>
                <span class="title">邮编</span>
                <span class="email">541004</span>
            </div>
            <ul class="nav">
                <li>
                    关于我们
                    <ul class="sub-nav">
                        <li><a>公司简介</a></li>
                        <li><a>公司历程</a></li>
                        <li><a>加入我们</a></li>
                        <li><a>联系我们</a></li>
                        <li><a>渠道招商</a></li>
                    </ul>
                </li>
                <li>招聘资讯
                    <ul class="sub-nav">
                        <li><a>招聘新闻</a></li>
                        <li><a>工作技巧</a></li>
                    </ul>
                </li>
                <li>帮助中心
                    <ul class="sub-nav">
                        <li><a>有偿服务</a></li>
                    </ul>
                </li>
                <li><a>网站地图</a></li>
            </ul>
        </div>
    </div>
    <p class="copyright">&copy;2018-2019 桂电兼职招聘网 地址：中国广西桂林金鸡路1号 邮编：541004　传真：0773-2290083 </p>
    <p class="copyright">桂ICP备05000961号 桂公网安备45030502000232号</p>
</div>
<script th:src="@{/assets/js/jquery.js}"></script>
<script th:src="@{/assets/layui/layui.all.js}"></script>
<script>
    layui.use(['form', 'layedit'], function () {
        var form = layui.form;
        var layedit = layui.layedit;
        var index = layedit.build('demo'); //建立编辑器
        form.verify({
            content: function (value) {
                layedit.sync(index);
            }, people: [
                /^[1-9]\d*$/
                , '招聘人数必须大于0'
            ]
        });
        form.on('select(province)', function (data) {
            var type = $("#type").val();
            if (type === "教辅机构兼职") {
                layer.msg("请选择专业");
                $('#s1').show();
                $('#s2').hide();
            } else {
                layer.msg("请选择工作类型");
                $('#s1').hide();
                $('#s2').show();
            }
        });
        form.on('submit(go)', function (data) {

            var type = $("#type").val();
            if (type === "教辅机构兼职") {
                var subject = $("#subject").val();
                if (subject === '') {
                    layer.msg('请选择专业信息', {time: 2000, icon: 5, shift: 6});
                } else {
                    $.ajax({
                        url: '/manager/publish/save',
                        method: "post",
                        data: data.field,
                        dataType: "text",
                        success: function (msg) {
                            layer.msg(msg);
                            $('#form')[0].reset();
                            setTimeout(function () {
                                location.href = "/manager/allJobs";
                            }, 1500)
                        },
                        error: function () {
                            layer.msg("网络错误，登录失败");
                        }
                    });
                }
            } else if (type === "普通工作") {
                var comment = $("#comment").val();
                if (comment === '') {
                    layer.msg('请选择工作类型', {time: 2000, icon: 5, shift: 6});
                } else {
                    data.field.subject = comment;
                    $.ajax({
                        url: '/manager/publish/save',
                        method: "post",
                        data: data.field,
                        dataType: "text",
                        success: function (msg) {
                            layer.msg(msg);
                            $('#form')[0].reset();
                            setTimeout(function () {
                                location.href = "/manager/allJobs";
                            }, 1500)
                        },
                        error: function () {
                            layer.msg("网络错误，登录失败");
                        }
                    });
                }
            }
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
    $(function () {
        $("#headPhoto").click(function () {
            location.href = "/manager/editor/headPhoto";
        })
    })
</script>
<script>
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#test1'
            , width: '1140px' //设置容器宽度
            , height: '460px'
            , arrow: 'always' //始终显示箭头
        });
        var util = layui.util;
        //执行
        util.fixbar({
            bar1: true
            , click: function (type) {
                if (type === 'bar1') {
                    layer.msg("欢迎来到桂电兼职网！")
                }
            }
        });
    });
</script>
</body>
</html>