<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>兼职网</title>

    <link rel="stylesheet" th:href="@{/assets/layui/css/layui.css}">

    <link rel="stylesheet" th:href="@{/assets/css/adminLogin/admin.css}">

</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item layadmin-flexible" lay-unselect>
                <a th:href="@{/index}" layadmin-event="flexible" title="logo">
                    兼职网
                </a>
            </li>
            <li class="layui-nav-item layui-hide-xs" lay-unselect th:if="${session.username}!=null">
                <a th:href="@{/worker/index}" target="_blank" title="首页">
                    首页
                </a>
            </li>
            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a href="" target="_blank" title="首页">
                    BBS论坛
                </a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
            <li class="layui-nav-item" lay-unselect th:if="${session.username}!=null">
                <a th:href="@{/worker/index}" layadmin-event="about">
                    [[${session.username}]]</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/worker/resume}">填写简历</a></dd>
                    <dd><a th:href="@{/worker/editor}">安全设置</a></dd>
                    <dd><a th:href="@{/worker/exit}">退出</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" lay-unselect th:if="${session.username}==null">
                <a th:href="@{workerLogin}" layadmin-event="about">
                    登录</a>
            </li>
            <li class="layui-nav-item " lay-unselect th:if="${session.username}==null">
                <a th:href="@{workerRegister}" layadmin-event="about">
                    注册</a>
            </li>
            <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
                <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
            </li>
        </ul>
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="layui-container  layui-hide-xs">
    <div class="layui-carousel" id="test1">
        <div carousel-item>
            <div><img th:src="@{/assets/picture/index1.jpg}" th:width="1140px"></div>
            <div><img th:src="@{/assets/picture/index2.jpg}" th:width="1140px"></div>
        </div>
    </div>

</div>
<br>
<div class="layui-container" style="background-color: #FFF">
    <div class="layui-tab layui-tab-brief" lay-filter="component-tabs-brief">
        <ul class="layui-tab-title">
            <li class="layui-this">推荐</li>
            <li>最新</li>
            <li>最热</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div class="container">
                    <div class="layui-row">
                        <div class="layui-card layui-col-md4" th:each="job:${jobs}">
                            <div class="layui-card-header">
                                <a th:href="@{/worker/job/}+${job.id}">
                                    <strong th:text="${job.title}">title</strong>
                                </a>
                            </div>
                            <div class="layui-card-body">
                                <p><span>薪资:</span>
                                    <span th:text="${job.lowPay}"></span>
                                    <span class="layui-red">-</span>
                                    <span th:text="${job.hightPay}"></span></p>
                                发布时间:
                                <text th:text="${job.date}"></text>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-tab-item">
                <div class="container">
                    <div class="layui-row">
                        <div class="layui-card layui-col-md4" th:each="job:${jobs1}">
                            <div class="layui-card-header">
                                <a th:href="@{/worker/job/}+${job.id}">
                                    <strong th:text="${job.title}">title</strong>
                                </a>
                            </div>
                            <div class="layui-card-body">
                                <p><span>薪资:</span>
                                    <span th:text="${job.lowPay}"></span>
                                    <span class="layui-red">-</span>
                                    <span th:text="${job.hightPay}"></span></p>
                                发布时间:
                                <text th:text="${job.date}"></text>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-tab-item">
                <div class="container">
                    <div class="layui-row">
                        <div class="layui-card layui-col-md4" th:each="job:${jobs2}">
                            <div class="layui-card-header">
                                <a th:href="@{/worker/job/}+${job.id}">
                                    <strong th:text="${job.title}">title</strong>
                                </a>
                            </div>
                            <div class="layui-card-body">
                                <p><span>薪资:</span>
                                    <span th:text="${job.lowPay}"></span>
                                    <span class="layui-red">-</span>
                                    <span th:text="${job.hightPay}"></span></p>
                                发布时间:
                                <text th:text="${job.date}"></text>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align: center;">
                <button class="layui-btn" type="button" id="more">查看更多</button>
            </div>
            <input th:value="${session.username}" hidden="hidden" id="check">
        </div>
    </div>
</div>
<br>
<br>
<br>
<script th:src="@{/assets/js/jquery.js}"></script>
<script th:src="@{/assets/layui/layui.all.js}"></script>
<script>
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#test1'
            , width: '1140px' //设置容器宽度
            , height: '460px'
            , arrow: 'always' //始终显示箭头
            //,anim: 'updown' //切换动画方式
        });
    });
    $(function () {
        $('#more').click(function () {
            var worker = $('#check').val();
            console.log(worker);
            if (worker === '') {
                layer.msg("请先登录!");
                setTimeout(function () {
                    location.href = "workerLogin";
                }, 1000)
            } else {
                location.href = "/worker/search";
            }
        });
    })
</script>
</body>
</html>