<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>兼职者页面</title>

    <link rel="stylesheet" th:href="@{/assets/layui/css/layui.css}">

    <link rel="stylesheet" th:href="@{/assets/css/adminLogin/admin.css}">
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item layadmin-flexible" lay-unselect>
                <a th:href="@{/index}" layadmin-event="flexible" title="logo">
                    兼职网
                </a>
            </li>
            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a th:href="@{/worker/index}" target="_blank" title="首页">
                    首页
                </a>
            </li>

            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a th:href="@{/worker/BBS/index}" target="_blank" title="首页">
                    BBS论坛
                </a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a th:href="@{/worker/index}">职位管理</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/worker/search}">搜索职位</a></dd>
                    <dd><a th:href="@{/worker/collect}">收藏的职位</a></dd>
                    <dd><a th:href="@{/worker/deliver}">投递的职位</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a th:href="@{/worker/BBS/index}">论坛管理</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/worker/BBS/publish}">发布帖子</a></dd>
                    <dd><a th:href="@{/worker/BBS/editor}">管理帖子</a></dd>
                    <dd><a th:href="@{/worker/BBS/search}">搜索帖子</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" lay-unselect>
                <a href="javascript:;">
                    [[${session.worker.userName}]]
                </a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/worker/resume}">填写简历</a></dd>
                    <dd><a th:href="@{/worker/resume/index}">查看简历</a></dd>
                    <dd><a th:href="@{/worker/editor}">安全设置</a></dd>
                    <dd><a th:href="@{/worker/exit}">退出</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-show-xs-inline-block " lay-unselect>
                <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/worker/collect}">收藏的职位</a></dd>
                    <dd><a th:href="@{/worker/deliver}">投递的职位</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md2">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div style="text-align: center;">
                        <img th:src="${session.workerData.headPhoto}" id="headPhoto"
                             style="width:150px; height:150px; border-radius:50%; ">
                    </div>
                    <br>
                    <div style="text-align: center;">
                        <h2> [[${session.workerData.name}]]</h2>
                    </div>
                    <hr>
                    <div style="text-align: center;">
                        <a th:href="@{/worker/resume}">
                            填写简历
                        </a>
                    </div>
                    <div style="padding-top: 5px;text-align: center;">
                        <a th:href="@{/worker/resume/index}">
                            查看简历
                        </a>
                    </div>
                    <div style="padding-top: 5px;text-align: center;">
                        <a th:href="@{/worker/editor/headPhoto}">
                            修改头像
                        </a>
                    </div>
                    <div style="padding-top: 5px;text-align: center">
                        <a th:href="@{/worker/editor}">
                            安全设置
                        </a>
                    </div>
                    <hr>
                    <div style="padding-top: 5px;text-align: center">
                        <a th:href="@{/worker/search}">
                            搜索职位
                        </a>
                    </div>
                    <div style="padding-top: 5px;text-align: center">
                        <a th:href="@{/worker/collect}">
                            收藏的职位
                        </a></div>
                    <div style="padding-top: 5px;text-align: center">
                        <a th:href="@{/worker/deliver}">
                            投递的职位
                        </a>
                    </div>
                    <div style="padding-top: 5px;text-align: center">
                        <a th:href="@{/worker/employ}">
                            被录用的职位
                        </a>
                    </div>
                    <hr>
                    <div style="padding-top: 5px;text-align: center">
                        <a th:href="@{/worker/evaluate}">
                            给予的评价
                        </a>
                    </div>
                    <div style="padding-top: 5px;text-align: center">
                        <a th:href="@{/worker/evaluated}">
                            收到的评价
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-col-md10">
            <div class="layui-card">
                <div class="layui-card-header">我的简历 &nbsp;&nbsp;
                    <a href="javascript:void(0)" class="layui-btn layui-btn-radius layui-btn-sm" onclick="exportWord()">导出</a>
                </div>
                <input id="name" th:value="${worker.name}" hidden="hidden">
                <div class="layui-card-body">
                    <div id="export_word">
                        <p style="line-height:20.5pt; margin:0pt 1pt 0pt 0pt; text-align:center"><a name="page1"></a>
                            <span style="font-family:微软雅黑; font-size:15.5pt; font-weight:bold">[[${worker.name}]]</span>
                        </p>

                        <p style="line-height:11.9pt; margin:0pt; text-align:center">
                            <span style="font-family:微软雅黑; font-size:9pt">[[${worker.phoneNumber}]] | [[${worker.email}]] </span>
                        </p>

                        <p style="line-height:11.9pt; margin:0pt 2pt 0pt 0pt; text-align:center">
                            <span style="font-family:微软雅黑; font-size:9pt">求职意向：[[${worker.jobIntension}]] | 期望薪资：[[${worker.expectation}]]</span>
                        </p>

                        <p style="line-height:14.55pt; margin:0pt"><span
                                style="font-family:微软雅黑; font-size:14pt; font-weight:bold">性别</span></p>
                        <hr>
                        <p style="line-height:11.9pt; margin:0pt"><span style="font-family:微软雅黑; font-size:9pt">
                        <div th:switch="${worker.sex}">
                        <p style="font-family:微软雅黑; font-size:9pt" th:case="0">女</p>
                        <!-- *: case的默认的选项 -->
                        <p th:case="1">男</p>

                        </span>
                        </p>
                        <br><br>

                        <p style="line-height:14.55pt; margin:0pt"><span
                                style="font-family:微软雅黑; font-size:14pt; font-weight:bold">年龄</span></p>
                        <hr>
                        <p style="line-height:11.9pt; margin:0pt">[[${worker.age}]]
                        </p>
                        <br><br>

                        <p style="line-height:14.55pt; margin:0pt"><span
                                style="font-family:微软雅黑; font-size:14pt; font-weight:bold">年级</span></p>
                        <hr>
                        <p style="line-height:11.9pt; margin:0pt">
                            <div th:switch="${worker.educationBackground}">
                        <p th:case="大一">大一</p>
                        <!-- *: case的默认的选项 -->
                        <p th:case="大二">大二</p>
                        <p th:case="大三">大三</p>
                        <p th:case="大四">大四</p>
                        </p>
                        <br><br>

                        <p style="line-height:14.55pt; margin:0pt"><span
                                style="font-family:微软雅黑; font-size:14pt; font-weight:bold">工作时间</span></p>
                        <hr>
                        <p style="line-height:11.9pt; margin:0pt">[[${worker.workerTime}]]
                        </p>
                        <br><br>

                        <p style="line-height:14.55pt; margin:0pt"><span
                                style="font-family:微软雅黑; font-size:14pt; font-weight:bold">工作经历</span></p>
                        <hr>
                        <p style="line-height:11.9pt; margin:0pt">[[${worker.workerExperience}]]
                        </p>
                        <br><br>

                        <p style="line-height:14.55pt; margin:0pt"><span
                                style="font-family:微软雅黑; font-size:14pt; font-weight:bold">期望薪资</span></p>
                        <hr>
                        <p style="line-height:11.9pt; margin:0pt">[[${worker.expectation}]]
                        </p>
                        <br><br>

                        <p style="line-height:14.55pt; margin:0pt"><span
                                style="font-family:微软雅黑; font-size:14pt; font-weight:bold">自我评价</span></p>
                        <hr>
                        <p style="line-height:11.9pt; margin:0pt">[[${worker.introduce}]]
                        </p>
                        <br><br>
                        <div th:if="${evaluation}!=null">
                            <p style="line-height:14.55pt; margin:0pt"><span
                                    style="font-family:微软雅黑; font-size:14pt; font-weight:bold">商家评价</span></p>
                            <hr>
                            <p style="line-height:11.9pt; margin:0pt"><span
                                    style="font-family:微软雅黑; font-size:9pt; font-weight:bold">商家名称：</span>[[${vendorName}]]
                            </p>
                            <br>

                            <p style="line-height:11.9pt; margin:0pt"><span
                                    style="font-family:微软雅黑; font-size:9pt; font-weight:bold">评价人：</span>[[${evaluation.managerName}]]
                            </p>
                            <br>

                            <p style="line-height:11.9pt; margin:0pt"><span
                                    style="font-family:微软雅黑; font-size:9pt; font-weight:bold">评分：</span>[[${evaluation.star}]]
                            </p>
                            <br>

                            <p style="line-height:11.9pt; margin:0pt"><span
                                    style="font-family:微软雅黑; font-size:9pt; font-weight:bold">评价：</span>[[${evaluation.content}]]
                            </p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/assets/js/jquery.js}"></script>
<script th:src="@{/assets/layui/layui.all.js}"></script>
<script>
    var username = $("#name").val() + '的个人简历';
    var saveAs = saveAs || (function (view) {
        "use strict";
        // IE <10 is explicitly unsupported
        if (typeof view === "undefined" || typeof navigator !== "undefined" && /MSIE [1-9]\./.test(navigator.userAgent)) {
            return;
        }
        var
            doc = view.document
            // only get URL when necessary in case Blob.js hasn't overridden it yet
            , get_URL = function () {
                return view.URL || view.webkitURL || view;
            }
            , save_link = doc.createElementNS("http://www.w3.org/1999/xhtml", "a")
            , can_use_save_link = "download" in save_link
            , click = function (node) {
                var event = new MouseEvent("click");
                node.dispatchEvent(event);
            }
            , is_safari = /constructor/i.test(view.HTMLElement)
            , is_chrome_ios = /CriOS\/[\d]+/.test(navigator.userAgent)
            , throw_outside = function (ex) {
                (view.setImmediate || view.setTimeout)(function () {
                    throw ex;
                }, 0);
            }
            , force_saveable_type = "application/octet-stream"
            // the Blob API is fundamentally broken as there is no "downloadfinished" event to subscribe to
            , arbitrary_revoke_timeout = 1000 * 40 // in ms
            , revoke = function (file) {
                var revoker = function () {
                    if (typeof file === "string") { // file is an object URL
                        get_URL().revokeObjectURL(file);
                    } else { // file is a File
                        file.remove();
                    }
                };
                setTimeout(revoker, arbitrary_revoke_timeout);
            }
            , dispatch = function (filesaver, event_types, event) {
                event_types = [].concat(event_types);
                var i = event_types.length;
                while (i--) {
                    var listener = filesaver["on" + event_types[i]];
                    if (typeof listener === "function") {
                        try {
                            listener.call(filesaver, event || filesaver);
                        } catch (ex) {
                            throw_outside(ex);
                        }
                    }
                }
            }
            , auto_bom = function (blob) {
                // prepend BOM for UTF-8 XML and text/* types (including HTML)
                // note: your browser will automatically convert UTF-16 U+FEFF to EF BB BF
                if (/^\s*(?:text\/\S*|application\/xml|\S*\/\S*\+xml)\s*;.*charset\s*=\s*utf-8/i.test(blob.type)) {
                    return new Blob([String.fromCharCode(0xFEFF), blob], {type: blob.type});
                }
                return blob;
            }
            , FileSaver = function (blob, name, no_auto_bom) {
                if (!no_auto_bom) {
                    blob = auto_bom(blob);
                }
                // First try a.download, then web filesystem, then object URLs
                var
                    filesaver = this
                    , type = blob.type
                    , force = type === force_saveable_type
                    , object_url
                    , dispatch_all = function () {
                        dispatch(filesaver, "writestart progress write writeend".split(" "));
                    }
                    // on any filesys errors revert to saving with object URLs
                    , fs_error = function () {
                        if ((is_chrome_ios || (force && is_safari)) && view.FileReader) {
                            // Safari doesn't allow downloading of blob urls
                            var reader = new FileReader();
                            reader.onloadend = function () {
                                var url = is_chrome_ios ? reader.result : reader.result.replace(/^data:[^;]*;/, 'data:attachment/file;');
                                var popup = view.open(url, '_blank');
                                if (!popup) view.location.href = url;
                                url = undefined; // release reference before dispatching
                                filesaver.readyState = filesaver.DONE;
                                dispatch_all();
                            };
                            reader.readAsDataURL(blob);
                            filesaver.readyState = filesaver.INIT;
                            return;
                        }
                        // don't create more object URLs than needed
                        if (!object_url) {
                            object_url = get_URL().createObjectURL(blob);
                        }
                        if (force) {
                            view.location.href = object_url;
                        } else {
                            var opened = view.open(object_url, "_blank");
                            if (!opened) {
                                // Apple does not allow window.open, see https://developer.apple.com/library/safari/documentation/Tools/Conceptual/SafariExtensionGuide/WorkingwithWindowsandTabs/WorkingwithWindowsandTabs.html
                                view.location.href = object_url;
                            }
                        }
                        filesaver.readyState = filesaver.DONE;
                        dispatch_all();
                        revoke(object_url);
                    }
                ;
                filesaver.readyState = filesaver.INIT;

                if (can_use_save_link) {
                    object_url = get_URL().createObjectURL(blob);
                    setTimeout(function () {
                        save_link.href = object_url;
                        save_link.download = name;
                        click(save_link);
                        dispatch_all();
                        revoke(object_url);
                        filesaver.readyState = filesaver.DONE;
                    });
                    return;
                }

                fs_error();
            }
            , FS_proto = FileSaver.prototype
            , saveAs = function (blob, name, no_auto_bom) {
                return new FileSaver(blob, name || blob.name || "download", no_auto_bom);
            }
        ;
        // IE 10+ (native saveAs)
        if (typeof navigator !== "undefined" && navigator.msSaveOrOpenBlob) {
            return function (blob, name, no_auto_bom) {
                name = name || blob.name || "download";

                if (!no_auto_bom) {
                    blob = auto_bom(blob);
                }
                return navigator.msSaveOrOpenBlob(blob, name);
            };
        }

        FS_proto.abort = function () {
        };
        FS_proto.readyState = FS_proto.INIT = 0;
        FS_proto.WRITING = 1;
        FS_proto.DONE = 2;

        FS_proto.error =
            FS_proto.onwritestart =
                FS_proto.onprogress =
                    FS_proto.onwrite =
                        FS_proto.onabort =
                            FS_proto.onerror =
                                FS_proto.onwriteend =
                                    null;

        return saveAs;
    }(
        typeof self !== "undefined" && self
        || typeof window !== "undefined" && window
        || this.content
    ));
    // `self` is undefined in Firefox for Android content script context
    // while `this` is nsIContentFrameMessageManager
    // with an attribute `content` that corresponds to the window

    if (typeof module !== "undefined" && module.exports) {
        module.exports.saveAs = saveAs;
    } else if ((typeof define !== "undefined" && define !== null) && (define.amd !== null)) {
        define([], function () {
            return saveAs;
        });
    }

    if (typeof jQuery !== "undefined" && typeof saveAs !== "undefined") {
        (function ($) {
            $.fn.wordExport = function (fileName) {
                fileName = typeof fileName !== 'undefined' ? fileName : username;
                var static = {
                    mhtml: {
                        top: "Mime-Version: 1.0\nContent-Base: " + location.href + "\nContent-Type: Multipart/related; boundary=\"NEXT.ITEM-BOUNDARY\";type=\"text/html\"\n\n--NEXT.ITEM-BOUNDARY\nContent-Type: text/html; charset=\"utf-8\"\nContent-Location: " + location.href + "\n\n<!DOCTYPE html>\n<html>\n_html_</html>",
                        head: "<head>\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\">\n<style>\n_styles_\n</style>\n</head>\n",
                        body: "<body>_body_</body>"
                    }
                };
                var options = {
                    maxWidth: 624
                };
                // Clone selected element before manipulating it
                var markup = $(this).clone();

                // Remove hidden elements from the output
                markup.each(function () {
                    var self = $(this);
                    if (self.is(':hidden'))
                        self.remove();
                });

                // Embed all images using Data URLs
                var images = Array();
                var img = markup.find('img');
                for (var i = 0; i < img.length; i++) {
                    // Calculate dimensions of output image
                    var w = Math.min(img[i].width, options.maxWidth);
                    var h = img[i].height * (w / img[i].width);
                    // Create canvas for converting image to data URL
                    var canvas = document.createElement("CANVAS");
                    canvas.width = w;
                    canvas.height = h;
                    // Draw image to canvas
                    var context = canvas.getContext('2d');
                    context.drawImage(img[i], 0, 0, w, h);
                    // Get data URL encoding of image
                    var uri = canvas.toDataURL("image/png");
                    $(img[i]).attr("src", img[i].src);
                    img[i].width = w;
                    img[i].height = h;
                    // Save encoded image to array
                    images[i] = {
                        type: uri.substring(uri.indexOf(":") + 1, uri.indexOf(";")),
                        encoding: uri.substring(uri.indexOf(";") + 1, uri.indexOf(",")),
                        location: $(img[i]).attr("src"),
                        data: uri.substring(uri.indexOf(",") + 1)
                    };
                }

                // Prepare bottom of mhtml file with image data
                var mhtmlBottom = "\n";
                for (var i = 0; i < images.length; i++) {
                    mhtmlBottom += "--NEXT.ITEM-BOUNDARY\n";
                    mhtmlBottom += "Content-Location: " + images[i].location + "\n";
                    mhtmlBottom += "Content-Type: " + images[i].type + "\n";
                    mhtmlBottom += "Content-Transfer-Encoding: " + images[i].encoding + "\n\n";
                    mhtmlBottom += images[i].data + "\n\n";
                }
                mhtmlBottom += "--NEXT.ITEM-BOUNDARY--";

                //TODO: load css from included stylesheet
                var styles = "";

                // Aggregate parts of the file together
                var fileContent = static.mhtml.top.replace("_html_", static.mhtml.head.replace("_styles_", styles) + static.mhtml.body.replace("_body_", markup.html())) + mhtmlBottom;

                // Create a Blob with the file contents
                var blob = new Blob([fileContent], {
                    type: "application/msword;charset=utf-8"
                });
                saveAs(blob, fileName + ".doc");
            };
        })(jQuery);
    } else {
        if (typeof jQuery === "undefined") {
            console.error("jQuery Word Export: missing dependency (jQuery)");
        }
        if (typeof saveAs === "undefined") {
            console.error("jQuery Word Export: missing dependency (FileSaver.js)");
        }
    }


    function exportWord() {
        $("#export_word").wordExport();
    };
    $(function () {
        $("#headPhoto").click(function () {
            location.href = "/worker/editor/headPhoto";
        })
    })
</script>
</body>
</html>